.asRange {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 8px;
}
.asRange .asRange-pointer {
  position: absolute;
  left: 30%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  background-color: #fff;
  border-radius: 9px;
}
.asRange .asRange-pointer:before {
  position: absolute;
  top: -6px;
  right: -4px;
  bottom: -2px;
  left: -4px;
  content: "";
  background: #2c9cf2;
  border-radius: inherit;
}
.asRange .asRange-pointer.start {
  left: 0;
  margin-left: 4px;
}
.asRange .asRange-pointer.stop {
  left: 100%;
  margin-left: -12px;
}
.asRange .asRange-pointer .asRange-tip {
  position: absolute;
  left: 0;
  top: 18px;
  width: 36px;
  height: 25px;
  margin-left: -15px;
  font-family: Bpreplay;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px; 
  -webkit-transition: opacity .3s ease-in-out 0s; 
  transition: opacity .3s ease-in-out 0s;
  color:#7d7d7d;
}
.asRange .asRange-pointer .asRange-tip:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 32%;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.asRange .asRange-pointer .asRange-tip:before{
  content: '';
  position: absolute;
  top: -6px;
  left: 32%;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: #000 transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.asRange .asRange-selected {
  position: absolute;
  left: 30%;
  z-index: 1;
  width: 40%;
  height: 4px;
  background-color:#2c9cf2;
  border-radius: 9px;
}
.asRange-scale{
  display: none;
}
.asRange-pointer.asRange-pointer_active:focus {
  outline: none;
}