@media (max-width: 767px){
    .name-search.word-generator form .input-group .input-group-text{
        position: absolute;
        height:69px;
        z-index: 999;
    }
    #intro .name-search.word-generator form .inputMain {
        border: none;
        border-radius: 12px !important;
    }
    button.btn.generatorbtn {
        width: 100%;
        border-radius: 0.8rem !important;
        margin-top: 20px !important;
    }
}

#intro .name-search.word-generator{
    margin-top: 50px;
}

.name-search.word-generator {
    max-width: 862px;
    margin: 0 auto;
    position: relative;
}

#intro .name-search.word-generator form .inputMain {
    box-shadow: none;
    border: none;
}
.name-search.word-generator form .inputMain {
    padding-left: 45px !important;
}

.name-search form.generator-form:before {
    content: "U";
    font-family: ElegantIcons;
    position: absolute;
    color: #b1b1b1;
    top: 18px;
    left: 18px;
    font-size: 22px;
    transform: rotate(-90deg);
    z-index: 99;
    font-weight: bold;
    background: transparent !important;
}

.name-search .input-group input.form-control {
    border-radius: 5px !important;
    font-size: 14px;
    color: #737373;
}


.search-text{
    display: flex;
    align-items: center;
}
.bng-generator .search-text p{color: #eef0f3a8 !important;}
.bng-generator .search-text ul li{color: #eef0f3a8;}
.bng-generator .form-check-label{color: #eef0f3a8 !important;}


.search-text p{
    font-size: .9rem;
    font-weight: 600;
    margin: 0px !important;
}
.search-text ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.search-text ul li{
    font-size: .8rem;
    margin: 0px 8px;
    position: relative;
    cursor: pointer;
    display: none;
}
.search-text ul li:nth-child(1),
.search-text ul li:nth-child(2),
.search-text ul li:nth-child(3){
    display: block;
}   
@media (max-width: 767px){
    .search-text ul li{
        font-size: .6rem;
    }
    #intro .form-check-label{
        font-size: .6rem !important;
    }
    .search-text p{
        font-size: .7rem;
    }
}

.bng-generator .search-text ul li:nth-child(1):before ,
.bng-generator .search-text ul li:nth-child(2):before {
    content: "";
    position: absolute;
    top: 2px;
    left: auto;
    width: 1px;
    height: calc(100% - 4px);
    background: #eef0f3a8;
    right: -8px;
}
.bng-generator .search-text ul li.white-bg:before {
    background: #000;
}

.search-text ul li:last-child:before{
    display: none;
}

.search-text ul.default-blur li{
    color: transparent;
    text-shadow: #eef0f3a8 0 0 4px;
    transition: 0.4s;
}

#intro .form-check-label{
    line-height: 22px;
}
.form-switch{
    padding: 0px;
    margin: 0px;
}
.form-switch .form-check-input {
    margin-left: -2em;
}
#intro .form-check-label {
    margin-right: 3.5rem!important;
}
.name-search .form-check-input:checked{
    background-color: #51a4f3;
    border-color: #51a4f352;
}

@media (max-width: 767px){
    .search-text.extra-reult {
        align-items: center;
    }
    .search-text.extra-reult ul li:first-child{
        padding-left: 0px;
    }
    
}


.name-search.word-generator.custom.css .input-group .tooltip-box {
    position: absolute;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    top: auto;
    border-radius: 8px !important;
    width: fit-content;
    padding: 12px 30px 12px 12px;
    left: 8%;
    margin-bottom: 15px;
    z-index: 999;
    bottom: 100%;
    text-align: left;
    display: none;
}
@media (max-width: 767px){
    .name-search.word-generator.custom.css .input-group .tooltip-box {
        left: 0%;   
    }
    .name-search.word-generator form .inputMain{
        margin-bottom: 0px;
    }
   
 .name-search.word-generator .row .col-md-6:first-child{
        position: absolute;
        top: -30px;
        right: 0px;
    }
    #intro p{
        font-size: 12px;
        margin: 0px;
    }

    #intro .name-search.word-generator form .inputMain {
        font-size: 16px;
      }
    #intro .name-search.word-generator form .inputMain:focus {
        font-size: 16px;
      }
}


.tooltip-box p {
    margin: 0px !important;
    font-size: 12px;
    color: #737373 !important;
    line-height: 15px;
}
.tooltip-box p.keywords {
    font-weight: 600;
}

.tooltip-box::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 8%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: 0;
}

.tooltip-box .close-box {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    z-index: 99;
    top: 0;
    cursor: pointer;
    box-shadow: none;
    color: #737373;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    line-height: 20px;
    font-size: 22px;
}

.tooltip-box .close-box:after {display: none;}


.rtl .word-generator .input-group{
    flex-direction: row-reverse;
}

.rtl .word-generator .row.mb-5{
    flex-direction: row-reverse;
}