
#intro .form-check-label {
    color: #EEF0F3;
    font-size: .8rem;
}

.alert.fade {
    opacity: 1;
}

 .alert .alert-wrap span {
    font: 400 12px/54px "Inter","Open Sans",sans-serif;
    color: #fff;
}
@media (max-width: 767px){
    .alert .alert-wrap span  {
        font: 400 12px/50px "Work Sans",sans-serif!important;
        color: #fff;
    }
}
.alert .alert-wrap a {
    width: auto !important;
    height: auto !important;
    line-height: 56px !important;
    float: right;
    color: #fff;
    font-size: 20px;
    border: none;
    text-decoration: none;
}
.alert {
    height: 56px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.2);
    line-height: normal;
    margin-bottom: 25px;
    border: 1px solid rgba(255,255,255,.4);
    padding: 0 15px;
    text-align: left;
    opacity: 1;
}

.dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0px;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
body.site-id-8{
    direction: rtl;
    unicode-bidi: embed;
}
body.site-id-8 .input-group{
    flex-direction: row-reverse;
}
body.site-id-8 .dropdown-menu[data-bs-popper] {
    left: 0;
    right: auto;
}
body.site-id-8 .form-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
body.site-id-8  #intro .form-check-label{
    margin-left: 3rem!important;
    margin-right: 0px !important;
}
body.site-id-8  .form-switch .form-check-input{
    margin-right: -2em;
    margin-left: 0px !important;
}
body.site-id-8  footer{
    text-align: right;
}
body.site-id-8 #main-content .justify-content-center{
    justify-content: flex-start !important;
}
body.site-id-8  .navbar-brand{
    margin-right: 0px;
}
@media (min-width: 992px){
    body.site-id-8 .navbar-expand-lg .navbar-nav {
        margin-right: auto!important;
        margin-left: 0px !important;
    }
}
/*-----------------------------------name-search.word-generator-------------------------------------------*/

.name-search.word-generator{
    max-width: 862px;
    margin: 0 auto;
    position: relative;
}
.name-search.word-generator .generator-form {
    position: relative;
}
.name-search.word-generator .generator-form .input_group{
    position: relative;
    margin: 0px;
}
.name-search.word-generator .generator-form .input_group input{
    position: relative;
    flex: 0 0 auto !important;
    display: inline-block;
    border-radius: 0rem;
    border: none;
    font-size: .9rem;
}
.generator-form .input_group .input_group_text{
    display: flex;
    align-items: center;
    padding: 0.375rem 1rem !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #E9ECEF;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    flex: 0 0 auto;
    width: 8.33333333%;
    justify-content: center;
}
@media (min-width: 786px){
    .name-search.word-generator .generator-form .input_group input{
        flex: 0 0 auto !important;
        width: 66.66666667% !important;
    }
    .name-search.word-generator .generator-form .input_group .input_group_text{
         padding: 0.375rem 0.75rem !important;
    }
}
.name-search.word-generator .generator-form .input_group .generatorbtn{
    padding:0rem 1.2rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: transform .2s, background-color .2s, color .2s;
    border: none;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    color: #F4F5F7;
    height: 70px;
}
.name-search.word-generator .generator-form .form-check-label-gn{
    color: #EEF0F3;
    font-size: .8rem;
}
.name-search.word-generator .generator-form .form-check-input-gn {
    width: 2em;
    margin-left: -2.5em;
    height: 1em;
    background-image: url(../images/blue-icon.svg);
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.name-search.word-generator .generator-form .form-check-input-gn:checked {
    background-position: right center;
    background:#2d92f7 url(../images/white-icon.svg);
    background-repeat: no-repeat;
     border-color: #2D92F7;
}

#backToTop.btn{
    display: none !important;
}

/* 
.name-search form.generator-form:before {
    content: "U";
    font-family: ElegantIcons;
    position: absolute;
    color: #E3E3E3;
    top: 21px;
    left: 25px;
    font-size: 22px;
    transform: rotate(-90deg);
    z-index: 99;
    font-weight: bold;
    background: transparent;
    height: 30px;
} */
.name-search .input-group input.form-control {
    padding-left: 60px !important;
    border-radius: 5px !important;
    font-size: 14px;
    color: #737373;
}


@media (max-width: 767px){
    body.name-search.word-generator.custom.css .inputMain {
        border: none;
        padding-left: 60px !important;
        border-radius: 12px !important;
        font-size: 10px;
    }
    /* #intro .name-search.word-generator form .inputMain {
        padding-left: 45px !important; 
    } */
  
}
@media (max-width:410px){
    .name-search form.generator-form:before{
        top: 18px;
    }
}

.order-2 .name-search.word-generator.custom.css .alert-danger{
    background-color: #f8d7da;
}

.order-2 .name-search.word-generator.custom.css .alert .alert-wrap a,
.order-2 .name-search.word-generator.custom.css .alert .alert-wrap span{
    color: #000;
}

.order-2 .name-search.word-generator.custom.css .inputMain{
    border: 1px solid #5a5a5a;
}

.order-2  .name-search .input-group input.form-control {
    border-radius: 0px !important;
}
/* 

.name-search.word-generator.custom.css .input-group .tooltip-box {
    position: absolute;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    top: auto;
    border-radius: 8px !important;
    width: fit-content;
    padding: 12px 30px 12px 12px;
    left: 8%;
    margin-bottom: 15px;
    z-index: 999;
    bottom: 100%;
    text-align: left;
    display: none;
}

.tooltip-box p {
    margin: 0px;
    font-size: 12px;
    color: #737373 !important;
    line-height: 15px;
}
.tooltip-box p.keywords {
    font-weight: 600;
}

.tooltip-box::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 8%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: 0;
}

.tooltip-box .close-box {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    z-index: 99;
    top: 0;
    cursor: pointer;
    box-shadow: none;
    color: #737373;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    line-height: 20px;
    font-size: 22px;
}

.tooltip-box .close-box:after {display: none;} */