
body{
	font-family: "Inter","Open Sans",sans-serif;
	color: #666 !important;
}

@media (max-width: 1199px){
	.page-template-template-domains .container ,
	.page-template-template-nameideas .container{
		max-width: 100%;
		width: 100%;
	}
	
}
@media (min-width: 1241px){
	body .container {
	    max-width: 1240px !important;
	}
}
@media (min-width: 1440px){
	.page-template-template-domains.domain-page .row.domain-center {
		width: 68%;
		margin: 0 auto;
	}
}
.main_wraper2{
	background: #fff;
	padding: 30px 0;
}

.page-template-template-domains .busi-filter.search-filter.domain-result{
	padding-top: 0px;
}
.busi-filter.search-filter.domain-result .mar_set .row {
	margin-right: -10px;
	margin-left: -10px;
}

.busi-filter.search-filter.domain-result .mar_set .row .col-md-8,
.busi-filter.search-filter.domain-result .mar_set .row .col-md-4{
	padding-right: 6px;
	padding-left: 6px;	
}

.busi-filter.search-filter.domain-result .mar_set .row .col-md-8 .row{
	margin-right: -5px;
	margin-left: -5px;
}

.busi-filter.search-filter.domain-result .mar_set .row .col-md-8 .row .col-md-3 ,  
.busi-filter.search-filter.domain-result .mar_set .row .col-md-8 .row .col-md-12{
	padding-right: 5px;
	padding-left: 5px;	
}


.page-template-template-domains .filter_block.eng .check_avail.domain-gen{
	text-align: left;
	margin: 25px 0px;
	padding: 0px 10px;
}

.page-template-template-domains .filter_block.eng .check_avail.domain-gen h4.check-dom-txt{
	text-align: left;
	font-family: "Inter","Open Sans",sans-serif;
	color: #4A4A4A;
}

.page-template-template-domains .filter_block.eng .check_avail.domain-gen h4.check-dom-txt span{
	color: #FEA000;
}


.page-template-template-nameideas .busi-filter.search-filter.domain-result .mar_set .dropdown-main.update .cstm-dropdown2 button .count-down span{
	color: #b1b1b1;
}

.page-template-template-nameideas .busi-filter.search-filter.domain-result .mar_set .dropdown-main.update .cstm-dropdown2 button span.idea-count{
	color: #fff;
	margin-right: 3px;
	width: 20px;
	height: 20px;
	font: 500 10px/20px "Inter","Open Sans",sans-serif;
}
.busi-filter.search-filter.domain-result .cstm-dropdown{
	padding:5px 10px;
}

.busi-filter.search-filter.domain-result .cstm-dropdown p{
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
}

.industry-text span.idea-count{
	width: 30px;
	height: 30px;
	display: none;
}

/* .page-template-template-domains .domain-gen-list{
	margin-right: -10px;
	margin-left: -10px;
}
.page-template-template-domains .domain-gen-list .col-md-12.pad_set{
	padding-right: 10px;
	padding-left: 10px;
} */

.page-template-template-domains .domain-gen-list ul.list-star li.stardomain .inner span.domain-title{
	margin-right: 0px;
}

.domain-generator {
	display: inline-block;
	width: 100%;
	padding: 0px !important;
}

@media (max-width:767px) {
	.domain-generator{
		overflow-x: hidden;
	}
}


.domain-gen-list{
	padding: 0px 2px;
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner { 
	padding: 0px ;
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text a:before{
	display: none;
}
.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text a:after{
	display: none;
}
.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li.who-is .inner .click-event-box .text .status{
	color: #FF0000 !important;
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box{  
    background: #FFF7D1;
    border: 1px solid #FFE672;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
	width: 100%;
	padding: 0px 8px;
	font-size: 16px;
	line-height: 19px;
	color: #4A4A4A;
	height: 44px;
	align-items: center;
	justify-content: space-between;
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text p{
	margin: 0px;
	font-family: "Inter","Open Sans",sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #4A4A4A;
	display: flex;
}

@media (min-width: 1200px){
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text p.big-text{
		width: 240px;
	}
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text p.big-text{
	width: 180px;
	word-break: break-all;
	display: initial;
}

.row.align-set .fiter-drop .dropdown-main{ 
	width: 100%;
	text-align: center;
}

.domainify .domain-buy .inner a.outer-link .content ins span{
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 14px !important;
	color: #4A4A4A !important;
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box a.tld-links{
	width: 92%;
	height: 100%;
	align-items: center;
	display: flex;
}

@media (min-width: 1440px){
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text p{
		font-size: 12px !important;
		line-height: 14px !important;
	}
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text a{
		font-size: 10px !important;
		line-height: 12px !important;
	}
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text{
		width: 100% !important;
	}
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text p.big-text {
		width: 140px;
	}

}
.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

}
.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text p b{
	font-weight:  bold !important;
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text .status {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	text-decoration-line: underline !important;
	text-transform: uppercase;
	color: #00B22D !important;
	position: static;
	float: none;
}
.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text .status span{
	transform: rotate(0deg);
	color: rgba(74, 74, 74, 0.5);
	border: 0px;
	border-radius: 0px;
	display: block;
	width: 25px;
	height: 25px;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text a.tld-links{
	text-decoration: none !important;
}
.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text a.tld-links p span{
	color: #4A4A4A;
}
.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .star-result  span{
	font-size: 16px;
	line-height: 18px;
	color: rgba(74, 74, 74, 0.5);
}

.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .star-result span.click{
	color: rgba(254, 160, 0, 1) ;
}

.domainify.height{
	height: 100%;
}
/* @media (min-width: 992px){
	.domainify.height{
		padding: 0px 0px 0px 15px;
	}
} */

#site-header.domains-header .header-main .business-app {
	width: 100%;
	display: flex;
}
#site-header.domains-header .header-main .business-app .desktop-app h3{
	font-family: "Inter","Open Sans",sans-serif;;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #F7FAFF;
	margin: 0px 0px 2px;
}
#site-header.domains-header .header-main .business-app .desktop-app ul{
	list-style: none;
	display: flex;
	margin: 0px;
	padding: 0px;
}
#site-header.domains-header .header-main .business-app .desktop-app ul li{
	margin-right: 20px;
	line-height: normal;
}
@media (min-width: 992px){
	#site-header.domains-header .header-main .business-app .desktop-app ul li{
		margin-right: 30px;
	}
}

#site-header.domains-header .header-main .business-app .desktop-app ul li a{
	font-family: "Inter","Open Sans",sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
	padding-bottom: 6px;
}

#site-header.domains-header .header-main .business-app .desktop-app ul li a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	top:auto;
	bottom: 0px;
	left: 0;
	background: rgba(208, 216, 255, 0.5);
	border-radius: 5px;
}

@media screen and (min-width: 1040px){
	.domains-header .domains-header-center{
		width: 100% !important;
		position: absolute;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	#site-header.domains-header .header-main .business-app {
		width: 65%;
	}
}

@media (min-width: 768px){
	#site-header.domains-header .header-main .site-title {
		display: flex !important;
		justify-content: left;
		padding-right: 0px !important;
		position: relative;
		z-index: 99999;
		width: auto !important;
	}
}

@media (min-width: 1440px){
	#site-header.domains-header .container{
		width: 1410px;
	}
	.main_wraper2.page-template-template-domains.domain-page .container.alert-box{
		width: 1410px;
	}
	.main_wraper2.page-template-template-domains.domain-page .container.alert-box .row.domain-center{
		width: 68%;
		margin: 0 auto
	}
}

.busi-filter.search-filter.domain-result div#results{
	display: none;
}
.domainify {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin: 15px 0;
}

.domainify-text{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 15px 0px 0px;
}

.domainify-text p{
	font-family: "Inter","Open Sans",sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #111111;
	margin: 0px;
}
.domainify-text a{
	font-family: "Inter","Open Sans",sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-decoration-line: underline;
	color: #0054FF;
	margin-top: 5px;
}
.domainify-text a span{
	margin-left: 5px;
	top: 1px;
	position: relative;
}
#site-header.domains-header .header-main .business-app .mobile-link{
	display: none;
}
@media (max-width:1024px){
	.page-template-template-domains .busi-filter.search-filter.domain-result{
		display: none;
	}
	.page-template-template-domains .row.align-set .col-xs-3 {
		width: 25% !important;
		text-align: center;
	}
}

@media (max-width: 767px){
	.domainify{
		margin: 5px 0px 5px !important;
	}
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text p.big-text{
		width: 150px;
	}
	#site-header .site-logo span.logo{
		display: block !important;
	}
	#site-header .site-logo span.logo  img.default{
		display: none !important;
	}
	#site-header .site-logo span.logo  img.small{
		display: block !important;
	}
	.domains-header-center{
		padding-left: 15px;
		width: 100%;
	}
	#site-header.domains-header .header-main .business-app{
		display: inline-block;
	}
	#site-header.domains-header .header-main .business-app .desktop-app{
		display: none;
	}
	.page-template-template-domains .filter_block.eng .check_avail.domain-gen{
		margin: 0px 0px 25px 0px;
	}
	.drop-down-area{
		justify-content: center;
	}
	.domainify .domain-buy .inner .img-area{
		max-width: 30%;
		flex: 0 0 30%;
		margin: 0;
	}
	.domainify .domain-buy .inner a.outer-link{
		background: rgba(208, 216, 255, 0.4);
		padding: 5px 10px !important;
	}
	#site-header.domains-header .header-main .business-app .mobile-link{
		display: block;
	}
	#site-header.domains-header .header-main .business-app .mobile-link a{
		background: #D0D8FF;
		border-radius: 5px;
		padding: 7px 16px 7px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;
	}
	#site-header.domains-header .header-main .business-app .mobile-link .text{
		display: flex;
	}
	#site-header.domains-header .header-main .business-app .mobile-link .text .generatorbtn{
		font-weight: 900;
		font-size: 16px;
		line-height: 18px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #0054FF;
		margin-right: 8px;
	}

	#site-header.domains-header .header-main .business-app .mobile-link .text p{
		font-family: "Inter","Open Sans",sans-serif;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		margin: 0px;
		color: #4A4A4A;
	}
	#site-header.domains-header .header-main .business-app .mobile-link .text p span{
		color: #0054FF;
		display: block;
	}
	#site-header.domains-header .header-main .business-app .mobile-link .external-link span{
		font-weight: 600;
		font-size: 10px;
		line-height: 12px;
		color: #0054FF;
		display: block;
		width: 25px;
		height: 25px;
		font-size: 12px;
		text-align: center;
		line-height: 25px;
	}
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box{
		padding: 0px 12px;
	}
	.page-template-template-domains .filter_block.eng .domain-gen-list ul.list-star li .inner .click-event-box .text{
		width: 100%;
	}
}	

@media (max-width: 400px){
	#site-header.domains-header .header-main .business-app .mobile-link .text p{
		line-height: 12px;
		font-size: 10px;
	}
}
/*.save-ideas .form-group label:before{
	padding: 6px;
	height: 10px;
}*/
.save-ideas .form-group input:checked+label:after {
	top: 1px;
	left: 5px;
	width: 5px;
	height: 11px;
	border-width: 0 2px 2px 0;
}

.foot-gen-search .gen-search .name-search input.inputMain{
	padding: 5px 125px 5px 45px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	color: #4A4A4A;
	height: 50px;
	box-shadow: none;
}

/*@media screen and (max-width: 1024px){
	.page-template-template-domains .foot-gen-search .gen-search .name-search a{
	    border-radius: 50px;
	}
}*/


.foot-gen-search .gen-search .name-search {
	margin-bottom: 20px;
}

.foot-gen-search .gen-search .name-search form{
	position: relative;
}

.foot-gen-search .gen-search .name-search form:before {
	content: "U";
	font-family: ElegantIcons !important;
	position: absolute;
	color: #b1b1b1;
	top: 8px;
	left: 12px;
	font-size: 22px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 1;
	font-weight: bold;
}

.foot-gen-search .gen-search .name-search a {
	width: 110px !important;
	height: 42px;
	top: 4px;
	right: 6px ;
	line-height: 42px !important;
	background: #FEA000 !important;
	border-radius: 2.5px;
}
@media (min-width: 768px){
	.foot-gen-search .gen-search .name-search a {
		width: 156px !important;
	}
}

.page-template-template-domains .row.align-set .fiter-drop h3{
	text-decoration: underline;
}
.mobile-view-more{
	display: none;
}

@media (max-width: 767px){
	/* .domainify .domain-buy .inner {
		margin: 0px 6px;
	} */
	.mobile-products{
		margin: 0px !important;
	}
	.result-page .domainify{
		padding: 0px !important;
	}
	.row.domain-center{
		margin: 0px !important;
	}
	.domainify .domain-buy .inner a.outer-link{
		margin: 5px 0px !important;
		width: 100% !important;
		/* justify-content: space-between; */
	}
	.domainify .domain-buy .inner a.outer-link .content {
		display: flex;
		justify-content: space-between;
		flex: 0 0 100%;
		/*max-width: 70%;*/
		align-items: center;
	}
	.domainify-text a{
		display: none;
	}
	.mobile-view-more{
		width: 100%;
		margin: 0px !important;
		padding: 0px !important;
		box-sizing: border-box;
		display: block;
	}
	.desktopads-banners{
		padding: 0px;
	}
	.page-template-template-domains .domain-gen-list {
		margin-right: -6px !important;
		margin-left: -6px !important;
	}
	.mobile-view-more a {
		font-family: "Inter","Open Sans",sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		text-decoration-line:none;
		color: #0054FF;
		margin-top: 10px;
		margin-bottom: 15px;
		border: 1px solid #0054FF;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 10px 0px;
		width: 100%;
	}
	.mobile-view-more a span {
		margin-left: 5px;
		top: 1px;
		position: relative;
	}
	.domainify .domain-buy .inner a.outer-link .content .link{
		margin-top:0px;
	}
}

@media (max-width: 1024px){
	.page-template-template-nameideas footer{
		padding: 20px 0px 60px;
	}
	footer{
		padding: 20px 0px 120px;
	}
}

body #site-header.result-head,
body #site-header.fixed.shrink.result-head {
	background: linear-gradient(11.31deg, #0048A5 -26.82%, #0054FF 30.34%)!important;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.15) !important;
	border-radius: 0px;
}

@media (max-width: 991px) {
	#site-header.fixed .header-main {
		margin-top: 0px !important;
	}
}

body .site-header.result-head .site-navigation {
	display: none !important;
}

body #site-header.fixed.result-head .header-main .gen-search {
	padding: 10px 0px;
}

body .site-header.result-head .header-main .gen-search {
	padding: 22px 0px;
	margin: 0px !important;
	width: 70%;
	justify-content: flex-start;
	display: flex !important;
}

body .site-header.result-head .header-main .gen-search .name-search {
	margin: 0 auto !important;
}

body .site-header.result-head .header-main .gen-search .inputMain {
	font-size: 18px;
	line-height: 22px;
	height: 54px !important;
	color: #8D8D8D;
	background: #FFFFFF;
	border: 0.5px solid #DBDBDB;
	box-sizing: border-box;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	width: 100% !important;
}

body .site-header.result-head .header-main .gen-search .name-search a {
	width: 110px !important;
	height: 42px !important;
	top: 6px !important;
	right: 6px !important;
	line-height: 42px !important;
	border-radius: 2.5px;
}

body header.site-header.result-head .header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dropdown-main.update .cstm-dropdown2 button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 42px;
}

.dropdown-main.update .cstm-dropdown2 button:hover {
	background:#ffc20d;
}
.business-eng #results .innerResult .mob-alternative {
    display: inline-block;
    margin: 10px 0px 0px;
    width: 100%;
}
.business-eng #results .innerResult .mob-alternative .domain-disclosure {
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
    text-align: center;
    margin-top: 10px;
}
.domain-disclosure a {
    margin-left: 5px;
    color: #337ab7;
    text-decoration: none;
}
.domain-disclosure a:hover{
	text-decoration: underline;
}

.dropdown-main.update .cstm-dropdown2 button .count-down {
	display: flex;
	align-items: center;
}

.drop-down-data .row.cstm_label {
	margin: 20px 0px 0 !important;
	max-height: 200px;
}

.drop-down-data .row.cstm_label .col-md-12 {
	padding: 0px;
}

.row.cstm_label::-webkit-scrollbar {
	width: 6px !important;
	height: 65px !important;
}

.row.cstm_label::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
}

.row.cstm_label::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.15);
	border-radius: 5px;
}

.row.cstm_label::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.5);
	border-radius: 5px;
}

.main_wraper2.page-template-template-domains {
	padding: 30px 0;
}

.main_wraper2.business-eng.result-page .busi-filter.search-filter .title-found h4 {
	font-size: 14px !important;
	line-height: 16px !important;
	color: #8D8D8D;
	margin-bottom: 8px !important;
	 font-weight: 400;
}

.busi-filter.search-filter .title-found h4 span {
	text-align: right;
	float: right;
}

.page-template-template-domains .filter_block.eng {
	border-top: none;
	padding-top: 0px;
	margin-top: 0px !important;
}

.page-template-template-domains .filter_block.eng .check_avail {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

.page-template-template-domains .filter_block.eng .check_avail h4 {
	font-weight: 500 !important;
	font-size: 18px !important;
	line-height: 21px !important;
	color: #4A4A4A
}

.page-template-template-domains .filter_block.eng .check_avail a p {
	display: inline-block;
	font-weight: 500 !important;
	font-size: 18px !important;
	line-height: 21px !important;
	color: #0054FF;
}

.filter_block.eng ul.list-star {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0px -5px;
    width: calc(100% + 10px);
}
@media (min-width:768px) {
	.filter_block.eng ul.list-star {
		width: 100%;
		margin: 0px;
	}
}

.filter_block ul {
	float: left;
	margin: 0;
}

@media (min-width:1025px) {

	.page-template-template-domains .busi-filter.search-filter {
		padding-top: 58px;
	}
	.page-template-template-domains .row.align-set {
		display: none;
	}
	.main_wraper2.page-template-template-domains .row.d-flex {
		display: flex;
	}
}

.filter_block.eng ul.list-star li{
	margin: 0px;
}
.filter_block.eng ul.list-star li#results {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 8px 0;
}
@media (min-width: 768px){
	.filter_block.eng ul.list-star li#results{
		padding: 8px 6px 8px 5px;
	}
}
.filter_block.eng ul.list-star li#results .innerResult{
	width: 100%;
}
.business-eng #results .innerResult .callout .domain-name {
    flex: 0 0 60%;
    max-width: 60%;
    color: #666;
    word-break: break-all;
}
.business-eng #results .innerResult .callout .register-btn {
    flex: 0 0 40%;
    max-width: 40%;
}
.business-eng #results .innerResult ul li.available .text a {
    background: transparent;
    border-radius: 4px;
    display: flex;
    border: none;
    box-shadow: none !important;
}
.business-eng #results .innerResult ul li.unavailable.nameideas .text a {
    display: flex;
    background: rgba(74, 74, 74, 0.1);
}
.business-eng #results .innerResult ul li.unavailable.nameideas .text a:hover {
    background: rgba(74, 74, 74, 0.1);
}
.page-template-template-domains .filter_block.eng .above-row .pad_set,
.page-template-template-domains .filter_block.eng .below-row .pad_set {
	/* padding-right: 15px;
	padding-left: 15px; */
	display: block;
}

.page-template-template-domains .filter_block.eng ul.list-star li .inner span.domain-title {
	background: #FFF7D1;
    border: 1px solid #FFE672;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	margin-right: 10px;
}

.page-template-template-domains .filter_block.eng ul.list-star li .inner span.domain-title a {
	padding: 0px 20px;
	font-size: 16px !important;
	line-height: 19px !important;
	color: #4A4A4A !important;
	display: flex;
	height: 44px;
	align-items: center;
}

.page-template-template-domains .filter_block.eng ul.list-star li .inner span.domain-title a span {
	font-weight: 900;
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	color: #FEA000;
	justify-content: center;
	margin-right: 5px;
}

.page-template-template-domains .filter_block.eng ul.list-star li .inner span.domain-title a.checking {
	background: #FFEE9B;
	border-radius: 5px;
}

.page-template-template-domains .filter_block.eng ul.list-star li .inner a.clickable-arrow {
	background: rgba(0, 84, 255, 0.03);
	border: 1px solid #D0D8FF;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 9.5px 11px;
}

.page-template-template-domains .filter_block.eng ul.list-star li .inner a.clicked-link {
	background: #FEA000;
	border: 1px solid #FEA000;
	box-sizing: border-box;
	border-radius: 5px;
}

.page-template-template-domains .filter_block.eng ul.list-star li .inner a.clicked-link span.icon_star {
	color: #fff;
}

.page-template-template-domains #results .innerResult {
	padding: 25px 24px;
	background: #FFFFFF;
	border: 1px solid #D0D8FF;
	border-radius: 5px;
	margin: 0 20px 0px 10px;
}

.page-template-template-domains .filter_block.eng ul.list-star li.checked:after {
	display: none;
}

.page-template-template-domains .filter_block.eng ul.list-star li.checked:before {
	display: none;
}

.page-template-template-domains #results .innerResult .desktopadv {
	justify-content: flex-start;
	margin: 0px 0 20px 0;
}

.page-template-template-domains #results .innerResult .desktopadv a img {
	padding-right: 15px;
}

.page-template-template-domains #results .innerResult .desktopadv .ad-result {
	display: flex;
	align-items: center;
	width: 100%;
}

.page-template-template-domains #results .innerResult .desktopadv .ad-result a.secound-gd-link {
	margin-right: 10px;
}

.page-template-template-domains #results .innerResult .desktopadv .ad-result a.secound-gd-link img {
	width: 120px;
	height: auto;
}

.page-template-template-domains #results .innerResult ul:before,
.page-template-template-domains #results .innerResult ul:after {
	display: none;
}

.page-template-template-domains #results .innerResult ul li {
	margin: 0px 0px 5px !important;
}
.page-template-template-domains #results .innerResult ul li.unavailable.nameideas .text a{
	display: flex;
}
.page-template-template-domains #results .innerResult ul li.unavailable.nameideas .text a .register-btn{
	color: #FF0000 !important;
	font-size: 12px;
	line-height: 14px;
}
.page-template-template-domains #results .innerResult ul li.unavailable.nameideas .text a .register-btn i{
	color: #FF0000 !important;
}
.page-template-template-domains #results .innerResult ul li.unavailable.nameideas .text a:active{
	box-shadow: none;
}
.page-template-template-domains #results .innerResult ul li.unavailable.nameideas .text a .register-btn i{
	transform: rotate(0deg);
	color: rgba(74, 74, 74, 0.5);
	border: 0px;
	border-radius: 0px;
	font-size: 12px;
	text-align: center;
}

.page-template-template-domains #results .innerResult ul li.unavailable .text {
	background: rgba(74, 74, 74, 0.1);
	border-radius: 4px;
	height: 100%;
}

.page-template-template-domains #results .innerResult ul li .text {
	width: 100%;
}

.page-template-template-domains #results .innerResult ul li.available .text {
	background: rgba(254, 160, 0, 0.1) !important;
	border-radius: 4px;
}

.page-template-template-domains #results .innerResult ul li.available .text a {
	background: transparent;
	border-radius: 4px;
	display: flex;
}

.page-template-template-domains #results .innerResult ul li.callout.callout-success.clearfix.unavailable .text {
	padding: 12px 13px;
}

.page-template-template-domains #results .innerResult ul li.available .text a {
	border: none;
	box-shadow: none !important;
}

.page-template-template-domains #results .innerResult ul li.unavailable .text .unavailable-btn span {
	border: none;
	color: rgba(74, 74, 74, 0.5);
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
}

.page-template-template-domains #results .innerResult ul li .text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-decoration: none;
}

.page-template-template-domains #results .innerResult ul li .text a {
	width: 100%;
	padding: 12px 13px;
	white-space: normal;
}

.page-template-template-domains #results .innerResult ul li .text .domain-name {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

.page-template-template-domains #results .innerResult ul li .text .domain-name a {
	color: #666;
	text-decoration: none;
}

.page-template-template-domains #results .innerResult ul li .text .domain-name span {
	font-weight: bold;
}

.page-template-template-domains #results .innerResult ul li .text .register-btn {
	padding: 0px !important;
	border: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #FEA000;
	text-align: right;
}

.page-template-template-domains #results .innerResult ul li .text .register-btn i {
	margin-left: 5px;
}

.page-template-template-domains #results .innerResult .desktopadv .text {
	margin: 0px;
}

.page-template-template-domains #results .innerResult .desktopadv .alternative-btn {
	width: 33.33%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-template-template-domains #results .innerResult .desktopadv .alternative-btn a {
	background: #F2F4FE;
	border-radius: 4px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #0054FF;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

#results .innerResult .row {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 0px;
}

#results .innerResult .mob-alternative {
	display: inline-block;
	margin: 10px 0px 0px;
	width: 100%;
}

#results .innerResult .mob-alternative .domain-advertise a {
	background: rgba(254,160,0,0.1) !important;
	border-radius: 4px;
	font-weight: 600;
	font-size: 12px !important;
	line-height: 14px !important;
	color: #FEA000 !important;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	display: block;
	margin: 0px;
	padding: 13px 0px;
}

#results .innerResult .mob-alternative .domain-advertise a span {
	margin-left: 10px;
}

#results .innerResult .mob-alternative .domain-disclosure {
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D;
}

.page-template-template-domains #results .innerResult .desktopadv .alternative-btn a span {
	width: 22px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-template-template-domains #results .innerResult .desktopadv .text h3 {
	font-weight: bold !important;
	font-size: 18px;
	line-height: 28px;
	color: #FEA000 !important;
}

.page-template-template-domains #results .innerResult .desktopadv .text h3 span {
	color: #666;
}

.page-template-template-domains #results .innerResult .desktopadv .text p {
	font-size: 14px;
	line-height: 16px;
}

.filter .switch-toggle .switch {
	margin: 0 10px !important;
}
.switch-toggle .switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}

.domain-filters .filter .switch-toggle .inner {
	justify-content: space-between !important;
}

.switch-toggle .switch {
	margin: 0px !important;
	width: 35px !important;
	height: 22px !important;
}

.domain-filters .filter .switch-toggle .inner .condition {
	display: none;
}

.page-template-template-domains .switch-toggle .switch input:checked+.slider {
	background-color: #fea000;
}

.page-template-template-domains .domain-filters .filter .switch-toggle .inner span.slider.round {
	width: 35px;
}

.page-template-template-domains .switch-toggle .switch input:checked+.slider:before {
	-webkit-transform: translateX(12px);
	transform: translateX(12px);
}

.page-template-template-domains .switch-toggle .switch .slider:before {
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
}

.domainify {
	padding: 0px 15px;
	margin: 5px 0px 5px !important;
	width:100% !important;
}
@media (min-width:768px) {
	.domainify {
		margin: 5px -10px 5px !important;
		width: calc(100% + 20px) !important;
	}
}
.domainify .domain-buy{
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

@media (max-width: 767px){
	 .domainify .domain-buy .inner {
	    margin: 0px 5px;
	}
}

@media (min-width: 480px){
	.domainify .domain-buy {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0% 50%;
	    flex: 0 0% 50%;
	    max-width: 50%;
	}
}

@media (min-width:768px) {
	.domainify .domain-buy{
		padding: 0px 6px;
	}
	.page-template-template-domains .domainify .domain-buy{
		padding: 0px 9px;
	}
}


.domainify .domain-buy .inner {
	height: 100%;
}

.domainify .domain-buy .inner a.outer-link {
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px;
}

.domainify .domain-buy .inner a.outer-link .img-area img {
	border-radius: 5px;
}

.domainify .domain-buy:last-child {
	display: block;
}

.domainify .domain-buy .inner a.outer-link .content {
	padding: 0px 0px 0px 10px;
}

.domainify .domain-buy .inner a.outer-link .content h3 {
	font-weight: 500 !important;
	font-size: 12px !important;
	line-height: 16px;
	margin: 0px !important;
    color: #4A4A4A !important;
    word-break: break-all;
}

.domainify .domain-buy .inner a.outer-link .content ins {
	text-decoration: none;
}

.domainify .domain-buy .inner a.outer-link .content .link {
	background: #FEA000;
	border-radius: 25px;
	padding: 5px 8px;
	margin-top: 10px;
	width: 70px;
	text-align: center;
}

.domainify .domain-buy .inner a.outer-link .content .link p {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}
.domainify .domain-buy .inner .content span.amount {
	display: block;
}
.domainify .domain-buy .inner a.outer-link .content .link p span {
	color: #FFFFFF;
	margin-left: 5px;
	font-size: 12px;
}


.page-template-template-domains .page-template-template-domains-ad .home-top {
	margin: 0px;
}

.page-template-template-domains .page-template-template-domains-ad .home-top .col-right span .get {
	background: #00a63f;
	border-radius: 4px;
	padding: 10px 28px;
	font-size: 14px;
	line-height: 16px;
}

.page-template-template-domains .page-template-template-domains-ad .wpb_text_column.wpb_content_element {
	margin: 5px 0px 10px !important;
}


.page-template-template-domains .industry-filter {
	display: flex;
	justify-content: space-between;
}

.page-template-template-domains .industry-filter button {
	width: 100%;
	border: 1px solid rgba(74, 74, 74, 0.2);
	border-radius: 5px;
	display: inline-block;
	padding: 6px 20px;
	text-align: center;
	height: 100%;
	background: transparent;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #8D8D8D;
}

.page-template-template-domains .industry-filter button.apply-btn {
	background: #0054FF;
	border: 1px solid #0054FF;
	border-radius: 5px;
	box-shadow: none;
	color: #fff;
	height: 42px;
	font-weight: 600;
}

@media (min-width: 1200px) {
	.page-template-template-domains .industry-filter button {
		width: 130px;
		padding: 6px 12px;
	}
	.page-template-template-domains .industry-filter button.apply-btn {
		width: 142px;
	}
}

.main_wraper2.page-template-template-domains .domain-checker #results {
	padding: 0px 10px 0px 0px !important;
	max-height: 250px;
	overflow-y: scroll;
	margin-top: 20px;
}

.main_wraper2.page-template-template-domains .domain-checker #results::-webkit-scrollbar {
	width: 6px !important;
	height: 65px !important;
}

.main_wraper2.page-template-template-domains .domain-checker #results::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05) !important;
	border-radius: 5px;
}

.main_wraper2.page-template-template-domains .domain-checker #results::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.15) !important;
	border-radius: 5px;
}

.main_wraper2.page-template-template-domains .domain-checker #results::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.5) !important;
}

.main_wraper2.page-template-template-domains .domain-checker #results li .text a {
	background: transparent !important;
	border-radius: 4px !important;
	display: flex;
	border: none;
	box-shadow: none !important;
	color: #666 !important;
	padding: 0px !important;
	align-items: self-start;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
}

.main_wraper2.page-template-template-domains .domain-checker #results li .text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 12px 13px;
	flex-direction: column;
	align-items: flex-start;
}

.main_wraper2.page-template-template-domains .domain-checker #results li.available .text {
	background: rgba(254, 160, 0, 0.1) !important;
	border-radius: 4px;
}

.main_wraper2.page-template-template-domains .domain-checker #results li.unavailable .text {
	background: rgba(74, 74, 74, 0.1);
	border-radius: 4px;
}

.main_wraper2.page-template-template-domains .domain-checker #results li .text .domain-name {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	margin: 0px 0px 5px;
	padding: 0px;
	text-align: left;
	width: 100%;
	display: flex;
}

.main_wraper2.page-template-template-domains .domain-checker #results li .text .domain-name span {
	font-weight: bold;
}

.main_wraper2.page-template-template-domains .domain-checker #results li.unavailable .text .unavailable-btn {
	line-height: normal;
}

.main_wraper2.page-template-template-domains .domain-checker #results li.unavailable .text .unavailable-btn span {
	border: none;
	color: rgba(74, 74, 74, 0.5);
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
}

.main_wraper2.page-template-template-domains .domain-checker #results li .text .register-btn {
	padding: 0px !important;
	border: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #FEA000 !important;
	background: transparent !important;
	margin-top: 0px !important;
	flex: 0 0 50%;
	max-width: 50%;
	text-align: right;
}
.main_wraper2.page-template-template-domains .domain-checker #results li.callout.clearfix.unavailable.nameideas .text a .register-btn{
	font-size: 12px;
	line-height: 14px;
	color: #FF0000 !important;
}

.main_wraper2.page-template-template-domains .domain-checker #results li .text .register-btn i {
	margin-left: 5px;
}

.main_wraper2.page-template-template-domains .domain-checker #results .alternative-btn a {
	background: #F2F4FE;
	border-radius: 4px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #0054FF;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 12px 13px;
}

.main_wraper2.page-template-template-domains .domain-checker #results .alternative-btn a span {
	width: 22px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_wraper2.page-template-template-domains .domain-checker #results .callout {
	margin: 0px 0px 5px 0;
	padding: 0px;
	border: none;
	list-style: none;
}

.page-template-template-domains .page-template-template-domains-ad .home-fiverr h2 {
	font-size: 18px;
	line-height: 22px;
}

.page-template-template-domains .page-template-template-domains-ad .home-fiverr p {
	font-size: 14px;
	line-height: 16px;
}

.page-template-template-domains .page-template-template-domains-ad .home-fiverr .col-right a {
	background: #1DBF73;
	border-radius: 4px;
	padding: 10px 8px;
	font-size: 14px;
	line-height: 16px;
}

.page-template-template-domains .ddl-close-button {
	display: none;
}

.page-template-template-domains .col-sm-9.mar_0 {
	width: 100%;
}


@media (min-width: 1025px) {

	.page-template-template-domains .col-sm-9.mar_0 {
		width: 75%;
	}
}

@media (min-width: 768px) {
	#results .innerResult .row {
		flex-direction: row;
	}
	.domainify {
		height: 99px;
	}
}

@media (max-width:767px) {
	.row.above-row{
		margin: 0px;
	}
	.page-template-template-domains .filter_block.eng .above-row .pad_set,
	.page-template-template-domains .filter_block.eng .below-row .pad_set {
		padding-right: 6px;
		padding-left: 6px;
	}
	.page-template-template-domains .filter_block.eng ul.list-star li .inner span.domain-title {
		margin-right: 5px;
	}
	.page-template-template-domains .filter_block.eng .check_avail {
		flex-direction: column-reverse;
		display: flex;
	}
	.page-template-template-domains .filter_block.eng .check_avail h4 {
		font-size: 14px !important;
		line-height: 16px !important;
		margin: 10px 0px 0px;
	}
	.page-template-template-domains .filter_block.eng .check_avail a {
		line-height: normal;
	}
	.page-template-template-domains .filter_block.eng .check_avail a p {
		font-size: 14px !important;
		line-height: 16px !important;
		text-decoration: underline;
	}
	.page-template-template-domains #results .innerResult {
		margin: 0 10px 0px 10px;
		padding: 15px 7px;
	}
	.page-template-template-domains #results .innerResult .desktopadv .ad-result {
		width: 100%;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.page-template-template-domains #results .innerResult .desktopadv .alternative-btn {
		width: 100%;
		margin-top: 5px;
		display: none;
	}
	.page-template-template-domains #results .innerResult .desktopadv .ad-result a.secound-gd-link {
		margin-right: 0px;
		margin-left: 10px;
	}
	.page-template-template-domains #results .innerResult .desktopadv .text h3 {
		font-size: 12px;
		line-height: 14px;
		padding: 0px;
	}
	.page-template-template-domains #results .innerResult .desktopadv .text p {
		font-size: 12px;
		line-height: 14px;
	}
	.domainify .domain-buy .inner a.outer-link .content .link {
		padding: 8px 8px;
		width: 90px;
	}
	.domainify .domain-buy .inner a.outer-link .content .link p span {
		margin-left: 10px;
	}
	.filter_block.eng ul.list-star li .inner a.clickable-arrow span {
		font-size: 18px;
	}
	.page-template-template-domains .filter_block.eng ul.list-star li .inner span.domain-title a {
		padding: 12px;
	}
	#site-header .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	body .site-header.result-head .header-main .gen-search {
		padding: 11px 0px;
	}
	body .site-header.result-head .header-main .gen-search .name-search a {
		height: 30px !important;
		line-height: 30px !important;
		width: 80px !important;
		font-size: 12px !important;
	}
	body .site-header.result-head .header-main .gen-search .name-search {
		width: 100% !important;
		max-width: 100% !important;
	}
	.header-main .site-title {
		padding: 15px 15px 15px 0px !important;
	}
	#site-header .site-logo {
		width: 51px !important;
	}
	#site-header .site-logo span.logo {
		min-width: auto !important;
		display: none;
	}
	.header-main .site-title {
		padding: 0px !important;
	}
	body .site-header.result-head .header-main .gen-search {
		width: 100%;
	}
}
.domainify .domain-buy .inner a.outer-link {
	display: flex;
	margin:5px 0px;
    background: #FFF7D1;
    border: 1px solid #FFE672;
	align-items: center;
	text-decoration: none;
}
.domainify .domain-buy .inner .content {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 67%;
	flex: 0 0 67%;
	max-width: 67%;
	padding: 0 10px;
}

@media (min-width: 992px){
	.domainify .domain-buy .inner .content {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 59%;
		flex: 0 0 59%;
		max-width: 59%;
	}
}

.page-template-template-domains .row.align-set .fiter-drop {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

/*.page-template-template-domains .row.align-set .fiter-drop h3 {
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D;
	margin: 0px;
}*/

.savedideas-drop-data button {
	height: 42px;
}

@media (max-width: 979px) {
	#site-header .site-logo {
		margin: 0 auto !important;
		text-align: left;
		width: 100% !important;
	}
	#site-header .header-main .gen-search .name-search form:before {
		top: 2px !important;
	}
	.header-main .site-title {
		width: auto;
	}
}

@media (max-width: 1024px) {
	.main_wraper2.page-template-template-domains .col-md-3 .busi-filter.search-filter {
		display: none;
	}
	body .site-header.result-head .header-main .gen-search .inputMain {
		width: 100% !important;
		height: 42px !important;
	}
	body .site-header.result-head .header-main .gen-search .name-search a {
		height: 30px !important;
		line-height: 30px !important;
		width: 100px !important;
		font-size: 14px !important;
	}
	#site-header .header-main .gen-search .name-search form:before {
		top: 2px !important;
	}
}

#site-header .site-title a img.small.mob,
#site-header .menu-item-logo a img.small.mob {
	display: inline-block !important;
	width: auto !important;
}

#site-header .menu-item-logo a img.default.desk,
#site-header .site-title a img.default.desk {
	display: none !important;
}

#site-header.fixed.shrink .menu-item-logo a img.default.desk,
#site-header.fixed.shrink .site-title a img.default.desk {
	display: none !important;
}

@media (min-width: 768px) {
	.domainify .domain-buy {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	#site-header .menu-item-logo a img.default.desk,
	#site-header .site-title a img.default.desk {
		display: block !important;
	}
	#site-header.fixed.shrink .menu-item-logo a img.default.desk,
	#site-header.fixed.shrink .site-title a img.default.desk {
		display: block !important;
	}
	#site-header .site-title a img.small.mob,
	#site-header .menu-item-logo a img.small.mob {
		display: none !important;
	}
	.alert p {
		font: 400 14px/1.5 "Inter","Open Sans",sans-serif !important;
	}
	body .site-header.result-head .header-main .gen-search .name-search form:before {
		top: 10px !important
	}
	body .site-header.result-head .header-main .gen-search .name-search {
		margin-bottom: 0px;
		width: 100%;
		max-width: 100%;
		padding-left: 10px;
	}
	body .site-header.result-head .header-main .gen-search {
		width: 75%;
		margin: 0px auto !important;
	}
	#site-header .site-title {
		width: 25% !important;
	}
	.page-template-template-domains-ad .home-top .col-left {
		flex: 0 0 70%;
		max-width: 70%;
		padding-right: 10px;
	}
	.page-template-template-domains-ad .home-top .col-right {
		flex: 0 0 30%;
		max-width: 30%;
		padding: 0;
	}
	.domainify .domain-buy .inner a.outer-link {
		height: 100%;
	}
	body .site-header.result-head .header-main .gen-search .name-search a {
		width: 156px !important;
	}
}

#main-filter-modal .filter .switch-toggle .inner span.toggle-title {
	flex: 0 0 50%;
	max-width: 50%;
}

@media (max-width: 480px) {
	.page-template-template-domains .filter_block.eng .check_avail h4 {
		font-size: 12px !important;
		line-height: 16px !important;
		margin: 10px 0px 0px;
	}
	.page-template-template-domains .filter_block.eng .check_avail a p {
		font-size: 12px !important;
		line-height: 16px !important;
	}
}

.busi-filter.search-filter .elm {
	position: relative;
}

/*.domain-filters {
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px 16px;
	margin: 0px;
	width: 100%;
	right: auto;
}*/

.domain-filters:before,
.domain-filters:after {
	display: none;
}

.domain-filters button span {
	position: inherit !important;
	right: 0 !important;
	top: 0 !important;
}

.domain-filters button span.idea-count {
	color: #fff;
}

.domain-filters ul.live-search-list.word-type {
	padding: 10px 0px 0px !important;
	align-items: baseline;
}


.savedideas-drop-data .empty-idea-msg {
	max-width: 100%;
	font: 400 16px/26px "Inter","Open Sans",sans-serif;
}

.row.cstm_label::-webkit-scrollbar {
	width: 6px !important;
	height: 65px !important;
}

.row.cstm_label::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
}

.row.cstm_label::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.15);
	border-radius: 5px;
}

.row.cstm_label::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.5);
	border-radius: 5px;
}

.hide-section {
	display: none;
}

#footer-nav {
	padding: 20px 0px;
}

#footer-nav .row {
	margin: 0px;
}

#footer-nav .row .col-md-6,
#footer-nav .row .col-md-12 {
	margin-top: 0px;
}

#footer-nav .copy_right span {
	color: #d9d9d9;
	font-size: 14px;
}

@media (max-width: 1024px) {
	 footer#site-footer {
		padding: 20px 0px 110px;
	}
}

@media screen and (max-width: 767px) {
	.Pagination_nav {
		padding: 50px 0px 100px;
	}
}

@media (max-width: 462px) {
	.mob-iframe iframe {
		height: 790px !important;
	}
}

.domainify .domain-buy .inner .img-area img {
	height: auto !important;
}

.domainify .domain-buy .inner {
	height: auto !important;
}

.page-template-template-domains #results .innerResult ul li.unavailable .text {
	height: auto !important;
}

#main-filter-modal .cstm_label ul.live-search-list.word-type {
	flex-wrap: wrap;
	display: flex;
	width: 100%;
}


#main-filter-modal .cstm_label ul.live-search-list.word-type li {
	margin-bottom: 10px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

@media (max-width: 400px) {
	.Pagination_nav ul li a {
		padding: 10px 12px;
		font-size: 12px !important;
		line-height: 14px !important;
	}
}
@media (min-width:768px) {
	.desktopads-banners{
		padding: 0px 8px;
	}
	.page-template-template-nameideas .desktopads-banners{
		padding: 0px 6px;
	}
}
.desktopads-banners .ad-result {
	border: 2px solid #6644FA;
	border-radius: 5px;
	padding: 20px 25px;
	margin: 15px 0px;
}

.desktopads-banners .ad-result .text {
	margin: 22px 0px 16px;
}

.desktopads-banners .ad-result img {
	width: 80px;
	height: auto;
}

.desktopads-banners .ad-result .text h2 {
	font-family: "Inter","Open Sans",sans-serif;;
	font-size: 22px;
	line-height: 26px;
	color: #000000;
	margin: 0px;
}

.desktopads-banners .ad-result .text h2 span {
	font-style: italic;
	font-weight: 600;
}

.desktopads-banners .ad-result .text p {
	font-family: "Inter","Open Sans",sans-serif; !important;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	margin: 10px 0px 0px;
	font-style: italic;
}

.desktopads-banners a.secound-gd-link{
	text-decoration: none;
}
.desktopads-banners .ad-result .col-right .get.first-gd-link{    
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: "Inter","Open Sans",sans-serif;;
	border: 2px solid #6644FA;
	box-sizing: border-box;
	font-weight: bold;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	background: #6644FA;
	border-radius: 50px;
}
.desktopads-banners .ad-result .col-right a {
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: "Inter","Open Sans",sans-serif;;
	border: 2px solid #6644FA;
	box-sizing: border-box;
	font-weight: bold;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	background: #6644FA;
	border-radius: 50px;
}

@media (min-width: 768px) {
	.desktopads-banners .ad-result {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 20px;
	}
	.desktopads-banners .ad-result .text {
		margin: 0px;
		padding: 0px 15px;
	}
}

@media (max-width: 767px) {
	.desktopads-banners .ad-result .col-right {
		display: flex;
		width: 100%;
		justify-content: flex-end;
	}
}

.desktopads-banners.wix-banner img{
	width: 100%;
	margin-bottom: 10px;
}

.desktopads-banners.wix-banner img.tab-wix{
	display: none;
}
.desktopads-banners.wix-banner img.mobile-wix{
	display: none;
}

@media (max-width:1024px){
	.desktopads-banners.wix-banner img.tab-wix{
		display: block;
	}
	.desktopads-banners.wix-banner img.desktop-wix{
		display: none;
	}
	.page-template-template-domains .row.align-set .fiter-drop h3{
		text-decoration: none;
	}
}

ul {
	padding: 0;
	margin: 0;
}

.Pagination_nav ul li.select a, .social-icon a, .stardomain a {
	text-decoration: none !important;
}


.btn-check:focus+.btn, .btn:focus{
	box-shadow: none !important;
}

@media (max-width: 767px){
	.business-eng .drop-down-area {
		display: flex;                        
		align-items: center;
	}
}

.domainify .domain-buy .inner .img-area {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33%;
	flex: 0 0 33%;
	max-width: 33%;
}
@media (min-width: 992px){
.domainify .domain-buy .inner .img-area {
    -ms-flex: 0 0 41%;
    flex: 0 0 41%;
    max-width: 41%;
}
}
.domainify .domain-buy .inner .img-area img {
	height: auto;
	width: 100%;
}

#main-filter-modal .cstm_label h3 {
	padding-bottom: 15px;
}


.business-eng #results .innerResult ul {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.business-eng #results .innerResult ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
}
@media (min-width: 768px){
.business-eng #results .innerResult ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
}
@media (min-width: 992px){
.business-eng #results .innerResult ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;
}
}

.business-eng #results .innerResult .callout {
    display: flex;
    margin: 0px 0px 5px !important;
    align-items: center;
}

.business-eng #results .innerResult .imgloadingshow {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}
.business-eng #results .innerResult .imgloadingshow .inner {
    height: 100%;
    width: 100%;
    position: static;
    margin: 0;
    padding: 0;
     display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
    text-align: center;
}
.business-eng #results .innerResult .imgloadingshow .inner img {
    width: 40px;
    margin: 0 auto;
}
