.word-manager-container{
    padding: 0 1rem;
}
.init-hide, .control-hide{
    display: none;
}
.word-manager-container .pagination-links{
    margin-right: 10px;
}
.toplevel_page_business_name_word_manager div#wpwrap::after {
    content: '';
    background: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: -2;
    transition: all 250ms ease-in-out;
}
.enable-word-edit.toplevel_page_business_name_word_manager{
    overflow: hidden;
}
.enable-word-edit.toplevel_page_business_name_word_manager #wpadminbar{
    display: none;
}
.enable-word-edit.toplevel_page_business_name_word_manager div#wpwrap::after{
    opacity: 0.6;
    z-index: 10000;
}

.edit-words-list{
    position: fixed;
    top: 0;
    border-radius:8px;
    padding:30px;
    padding-bottom: 50px;
    opacity: 0;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 250ms ease-in-out;
    width: 80%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    background: #0048a5;
    top: 10%;
}
.enable-word-edit .edit-words-list{
    z-index:10010;
    opacity: 1;
}

.enable-word-edit .edit-words-list.data-fetched{
  background: #fff;
}

.edit-words-list .word-editor{
  opacity: 0;
  z-index: -5;
  transition: all 250ms ease-in-out;
  height: 100%;
  width: 100%;
  position: absolute;
}

.edit-words-list .word-editor .title{
  margin: 0;
  margin-bottom: 10px;
}

.edit-words-list .word-editor .title.removed{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-words-list .word-editor .title.removed h3{
  margin: 0;
}
.edit-words-list .word-editor .word-editor-inner{
  overflow-y: scroll;
  height: 42%;
}
.enable-word-edit .edit-words-list.data-fetched .word-editor{
  opacity: 1;
  z-index: unset;
  position: relative;
}

.edit-words-list .word-editor .btn{
    transition: all 250ms ease-in-out;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
  }
  
  .edit-words-list .word-editor .single-word{
    border: 1px solid;
    transition: all 250ms ease-in-out;
    display: inline-block;
    padding: 6px 12px;
    margin: 22px 5px 0px;
}

.edit-words-list .all-words .single-word{
  border-color: #5cb85c;
  background-color: #fff;
}
.edit-words-list .all-words .single-word:hover{
  border-color: #449d44d6;
  background-color: #449d44d6;
}

.edit-words-list .all-words .single-word .btn{
    color: #5cb85c;
    position: relative;
}

.edit-words-list .all-words .single-word:hover .btn{
  color: #fff;
  outline: none;
}
.edit-words-list .all-words .single-word .btn:focus{
  box-shadow: none;
}
/*********************************************/

.edit-words-list .removed-words .single-word{
  border-color: #ac2925;
  background-color: #fff;
}
.edit-words-list .removed-words .single-word:hover{
  border-color: #ac2925;
  background-color: #c9302cba;
}

.edit-words-list .removed-words .single-word .btn{
    color: #ac2925;
}

.edit-words-list .removed-words .single-word:hover .btn{
  color: #fff;
}

.edit-words-list .single-word .word-action{
  border-radius: 50%;
  text-align: center;
  padding: 3px 4px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  margin-left: 5px;
  position: relative;
}

.edit-words-list .single-word .word-action:hover{
  color: #fff;
  background: #000000a8;
}
.edit-words-list .single-word .remove-word::before{
  content: '✕';
}

.edit-words-list .single-word .approve-word::before{
  content: '✓';
}

.edit-words-list .single-word .btn::before{
  content:attr(data-combined);
  position:absolute;
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
/* Position the tooltip */
  bottom: 100%;
  left:auto;
  margin-left: 0px;
  font-size: 10px;
}
.edit-words-list .single-word .btn::after {
  content: "";
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(0, 0, 0, 0.9);
  border-width: 0.5em 0.5em 0 0.5em;
  visibility: hidden;
  position: relative;
  top: 2px;
  left: auto;
  right: 10px;
}

.edit-words-list .single-word .btn:hover::before, .edit-words-list .single-word .word-action:hover::before,
.edit-words-list .single-word .btn:hover::after{
  visibility: visible;
}
.word-filter-btns {
  display: inline-block;
  float: right;
  margin-top: 16px;
}

.word-filter-btns a, .add-new-word .add-btn {
  padding: 6px 20px;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.word-filter-btns a:hover, .add-new-word .add-btn:hover {
  opacity: 0.8;
}

.word-filter-btns .cancel {
  background: #f0be64;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 20px;
}

.word-filter-btns .apply, .add-new-word .add-btn {
  background: #449d44d6;
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 30px;
  border: 0;
  cursor: pointer;
}

.frame-loader h2{
  position: absolute;
  width: 300px;
  display: block;
  left: -10vw;
  top: -25vh;
  color: transparent;
  transition: all 250ms ease-in-out;
}

.frame-loader.saving h2{
  color: #fff;
}


/* .enable-word-edit .edit-words-list{
    background-color:#0048a5;
 } */
 .frame-loader {
    border-radius: 2px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
 }
 
 .frame-loader  .center {
    position: absolute;
    width: 220px;
    height: 220px;
 }
 
 .frame-loader  .dot-1 {
   position: absolute;
   z-index: 3;
   width: 30px;
   height: 30px;
   top: 95px;
   left: 95px;
   background: #fff;
   border-radius: 50%;
   -webkit-animation-fill-mode: both;
           animation-fill-mode: both;
   -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
           animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
 }
 
 .frame-loader  .dot-2 {
   position: absolute;
   z-index: 2;
   width: 60px;
   height: 60px;
   top: 80px;
   left: 80px;
   background: #fff;
   border-radius: 50%;
   -webkit-animation-fill-mode: both;
           animation-fill-mode: both;
   -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
           animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
 }
 
 .frame-loader  .dot-3 {
   position: absolute;
   z-index: 1;
   width: 90px;
   height: 90px;
   top: 65px;
   left: 65px;
   background: #fff;
   border-radius: 50%;
   -webkit-animation-fill-mode: both;
           animation-fill-mode: both;
   -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
           animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
 }
 
 @-webkit-keyframes jump-jump-1 {
   0%, 70% {
     box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   100% {
     box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 
 @keyframes jump-jump-1 {
   0%, 70% {
     box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   100% {
     box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 @-webkit-keyframes jump-jump-2 {
   0%, 40% {
     box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   100% {
     box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 @keyframes jump-jump-2 {
   0%, 40% {
     box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   100% {
     box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 @-webkit-keyframes jump-jump-3 {
   0%, 10% {
     box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   100% {
     box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 @keyframes jump-jump-3 {
   0%, 10% {
     box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   100% {
     box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 .edit-words-list.data-fetched .frame-loader{
   display: none;
 }

 .api-to-csv-container input[type="text"]{
   width: 70%;
 }

 .word-manager-settings-container .spin-loader{
   opacity: 0;
   margin-left: 20px;
   margin-top: 10px;
   transition: opacity 250ms ease-in-out;
 }

 .word-manager-settings-container .loading .spin-loader{
   opacity: 1;
 }

.add-generator-shortcode .add-country-affiliate{
  display: inline-block;
  border: 1px solid;
  padding: 8px 14px;
  border-radius: 4px;
  text-decoration: none;
  background: #dd823b;
  border-color: #dd823b;
  color: #fff;

}
.add-generator-shortcode .add-country-affiliate i{
  margin-right:5px;
}

.add-generator-shortcode .generator_affiliate_urls{
  margin-bottom: 10px;
  height: 36px;
}
.add-generator-shortcode .info, .add-filter-shortcode .info{
  font-weight:400; 
  font-style:italic;
}

.select2-container{
  width: 95% !important;
}

.add-generator-shortcode .industries-row{
  display: none;
}

.word-manager-container .has-loader i {
  margin-left: 5px;
  margin-top: 10px;
  transition: all 250ms ease-in-out;
  opacity: 0;
}

.word-manager-container .has-loader.loading .loader {
  opacity: 1;
}
.word-manager-container .has-loader.loaded .loaded {
  opacity: 1;
}
.word-manager-container .word_status{
  max-width: unset;
  width: 100%;
}
#createWord .error .success, #createWord .error .failure{
  display: none;
}

#createWord .error.success .success{
  color:green;
  display: block;
}
#createWord .error.failure .failure{
  color:red;
  display: block;
}

#createWord p.submit.failure{
  cursor: none;
}
.add-filter-shortcode .filter-sub-fields{
    display: none;
}
.add-filter-shortcode .filter-sub-fields fieldset{
  border: 1px solid #8c8f94;
  border-radius: 4px;
  padding: 10px;
}
.word-manager-container .bulk-approve {
    margin-left: 20px;
    float: right;
}

.word-manager-container .bulk-approve a{
  font-size: 14px;
}
/* Style the tab */
#saveAffiliateLinks .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
#saveAffiliateLinks .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
#saveAffiliateLinks .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
#saveAffiliateLinks .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
#saveAffiliateLinks .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#saveAffiliateLinks .tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.geo-countries-wrap{
  margin-bottom: 30px;
}

ol.affiliate-items li.affiliate-item{
    position: relative;
    margin-bottom: 20px;
}

label{
    margin: 10px 0px;
    display: block;
}

ol.affiliate-items li.affiliate-item  input.generator_affiliate_urls{
  width: 95%;
}
ol.affiliate-items li.affiliate-item select{
  width: 95%;
}
.form-field select{ 
  width: 95%;
  height: 36px;
}

ol.affiliate-items li.affiliate-item  a.close-box {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    z-index: 99;
    top: 0;
    cursor: pointer;
    box-shadow: none;
    color: #737373;
    padding: 4px 6px;
    display: flex;
    justify-content: center;
    line-height: 20px;
    font-size: 22px;
    text-decoration: none;
}
