
.name-search {
	position: relative;
	max-width: 862px;
	margin: 0 auto 18px;
}

.name-search form {
	position: relative;
	margin: 0px;
}
.page-template-template-domains .mar_set .name-search input.inputMain,
.page-template-template-results .mar_set .name-search input.inputMain {
	padding: 5px 170px 5px 40px;
    font: 500 14px/18px "Inter","Open Sans",sans-serif;
    font-style: normal;
    border-radius: 4px;
    outline: 0;
    align-items: center;
    color: #4A4A4A;
    border: 1px solid #dfe5e8;
    height: 56px;
    width: 100%;
}

.name-search a.generatorbtn {
	border: none;
	position: absolute !important;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font: 500 14px/20px "Inter","Open Sans",sans-serif;
	height: 42px;
	top: 6px;
	right: 6px;
	line-height: 42px;
	background: #FEA000;
	border-radius: 2.5px;
	width: 100px;
}
.navbar .name-search a.generatorbtn{
	font: 500 18px/42px "Inter","Open Sans",sans-serif;
}
@media (min-width: 768px) {
	/* .name-search input.inputMain{
		font: 500 18px/24px "Inter","Open Sans",sans-serif;
	} */
	.name-search a.generatorbtn {
		width: 156px;
		font: 500 18px/24px "Inter","Open Sans",sans-serif;
	}
	.domain-page .name-search a.generatorbtn{
		font: 500 18px/42px "Inter","Open Sans",sans-serif;
	}
}

.search-filter.domain-result .gen-search .name-search {
	margin-bottom: 18px;
}
.search-filter.domain-result .gen-search .name-search form:before {
	content: "U";
	font-family: ElegantIcons ;
	position: absolute;
	color: #b1b1b1;
	top: 10px;
	left: 12px;
	font-size: 22px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 1;
	font-weight: bold;
}


.domain-checker {
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding:22px 15px;
	margin:0px;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}
.page-template-template-nameideas .domain-checker{
	margin: 0px 0px 15px 0px;
    padding: 10px 16px;
}
.domain-checker .domains-head {
	display: flex;
	align-items: center;
	padding: 0px 0px 20px;
}


.domain-checker .domains-head span {
	font-size: 16px ;
	line-height: 18px;
	color: #8D8D8D;
	margin-right: 10px;
}

.domain-checker .domains-head p {
	margin: 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #8D8D8D;
}


.domain-checker .domain-widget {
	padding: 0px;
}

.domain-checker .domain-widget .wdc-form {
	padding: 0px !important;
	max-width: 900px;
	margin: 0 auto;
}
.domain-checker .domain-widget .wdc-form form .input-group {
	flex-direction: column;
	box-shadow: none ;
}

.page-template-template-domains #domain-checker-form form#form input#Search {
	position: relative;
	padding: 5px 95px 5px 10px;
	height: 40px;
	border: 1px solid #dfe5e8;
	box-shadow: none !important;
	font-size: 12px !important;
    line-height: 14px !important;
}

.page-template-template-domains #domain-checker-form form#form span.input-group-btn {
	width: 80px;
	height: 30px;
	top: 5px;
	right: 6px;
	line-height: 30px;
	position: absolute;
	z-index: 99;
	display: flex;
}

.page-template-template-domains .domain-checker .domain-widget #domain-checker-form .input-group.large button#Submit {
	background: #0054FF !important;
	border-radius: 5px !important;
	font-size: 14px !important;
	line-height: 16px !important;
	width: 100%;
	margin: 0px;
	height: 30px !important;
	padding: 0px !important;
	color: #fff;
	text-transform: capitalize;
	font-weight: normal;
}

.name-search .input-group .btn {
	border-radius: 5px !important;    
}

@media (min-width: 786px){
	.name-search .input-group .btn {
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}
}

.domain-checker #results {
	padding: 0px 10px 0px 0px ;
	max-height: 250px;
	overflow-y: scroll;
	margin-top: 20px;
}

.rtl .domain-checker #results{
	padding: 0px 0px 0px 10px;
}

.domain-checker #results::-webkit-scrollbar {
	width: 6px ;
	height: 65px ;
}

.domain-checker #results::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05) ;
	border-radius: 5px;
}

.domain-checker #results::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.15) ;
	border-radius: 5px;
}

.domain-checker #results::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.5) ;
}

.domain-checker #results li .text a {
	background: transparent ;
	border-radius: 4px ;
	display: flex;
	border: none;
	box-shadow: none ;
	color: #666 ;
	padding: 0px ;
	align-items: self-start;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	font-weight: normal;
}

.domain-checker #results li .text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 12px 13px;
	flex-direction: column;
	align-items: flex-start;
}

.domain-checker #results li.available .text {
	background: rgba(254, 160, 0, 0.1) ;
	border-radius: 4px;
}

.domain-checker #results li.unavailable .text {
	background: rgba(74, 74, 74, 0.1);
	border-radius: 4px;
}

.domain-checker #results li .text .domain-name {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	margin: 0px 0px 5px;
	padding: 0px;
	text-align: left;
	width: 100%;
	display: flex;
}

.domain-checker #results li .text .domain-name span {
	font-weight: bold;
}

.domain-checker #results li.unavailable .text .unavailable-btn {
	line-height: normal;
}

.domain-checker #results li.unavailable .text .unavailable-btn span {
	border: none;
	color: rgba(74, 74, 74, 0.5);
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
}

.domain-checker #results li .text .register-btn {
	padding: 0px ;
	border: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #FEA000 ;
	background: transparent ;
	margin-top: 0px ;
	flex: 0 0 50%;
	max-width: 50%;
	text-align: right;
	text-transform: capitalize;
}
.domain-checker #results li.callout.clearfix.unavailable.nameideas .text a .register-btn{
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
}

.domain-checker #results li .text .register-btn i {
	margin-left: 5px;
}
.rtl .domain-checker #results li .text .register-btn i {
	margin-left: 0px;
	margin-right: 5px;
}


.domain-checker #results .alternative-btn a {
	background: #F2F4FE;
	border-radius: 4px;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #0054FF;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 12px 13px;
}
.domain-checker #results .alternative-btn a span {
	width: 22px;
	height: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.domain-checker #results .callout {
	margin: 0px 0px 5px 0;
	padding: 0px;
	border: none;
	list-style: none;
}
.search-filter.domain-result .domain-checker{
	padding: 20px 15px;
	margin: 0px;
}

.search-filter.domain-result .domain-checker .domains-head{
	padding: 0px 0px 15px;
}

.eng-industry-filter {
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px 16px;
	margin: 15px 0px;
}
.eng-industry-filter button {
	background:#FFFFFF !important;
	border: none;
	box-sizing: border-box;
	border-radius: 0px !important;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto ;
	width: 100%;
	color: #b1b1b1;
}
.eng-industry-filter button:hover,
.eng-industry-filter button:focus {
	background-color: transparent;
	text-decoration: none;
	border: none;
}

.eng-industry-filter button span {
	font-size: 30px;
	color: #b1b1b1;
}
.eng-industry-filter button:hover,
.eng-industry-filter button:focus {
	background-color: transparent;
	outline: none;
	box-shadow: none;
	color: #b1b1b1;
	border: none;
}
.btn:hover{
	text-decoration: none;
}


.industry-text {
	display: flex;
	align-items: center;
}

.industry-text span {
	font-size: 16px !important;
	line-height: 18px;
	color: #8D8D8D;
	margin-right: 10px !important;
}

.industry-text p {
	margin: 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #8D8D8D;
	text-transform: capitalize;
}

.industry-text span.idea-count {
	position: inherit !important;
	width: 30px;
	height: 30px;
	background: #FEA000;
	border-radius: 5px;
	border: none;
	color: #FFFFFF;
	margin-left: 10px;
	font-size: 14px !important;
	line-height: 14px !important;
	font-weight: 500 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}


.eng-industry-filter .drop-down-data {
	position: inherit !important;
	width: 100% !important;
	border: none !important;
	padding: 0px !important;
	margin-top: 12px !important;
	box-shadow: none !important;
}

.eng-industry-filter .drop-down-data form input {
	background: rgba(74, 74, 74, 0.05) !important;
	border-radius: 5px !important;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D !important;
	height: 35px !important;
}

.no-margin-filter{
	margin: 0px;
}

.domain-filters,
.busi-filter.search-filter .drop-down-data.eng-ind-filter,
.dropdown-main .savedideas-drop-data{
	top: 50px;
	width: 324px;
	left: 0;
	right: auto;
}


.tlds-dropdown{
	position: absolute;
	width: 280px;
	border-radius: 4px;
	padding: 15px 0;
	z-index: 11;
	margin: 0;
	box-shadow: 0 0 20px 3px rgb(0, 0, 0,10%);
	top: 50px;
	left: 0;
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 10px 20px;
	width: 100%;
	display: none;
}
.tlds-dropdown.ul-list .search_bar input{
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D;
	height: 35px;
	width: 100%;
	margin:0px 0px 10px !important;
	border: 1px solid #dbdbdb;
	box-shadow: none;
	padding: 0 10px;
}


@media (min-width:1040px){
	.page-template-template-domains .domain-filters,
	.page-template-template-domains .busi-filter.search-filter .drop-down-data.eng-ind-filter,
	.page-template-template-domains .dropdown-main .savedideas-drop-data{
		width: calc(100% + 200px) !important;
	}	
	.page-template-template-domains .tlds-dropdown{
		width: calc(100% + 200px);
	}
}

@media (min-width:1440px){
	.page-template-template-domains .domain-filters,
	.page-template-template-domains .busi-filter.search-filter .drop-down-data.eng-ind-filter,
	.page-template-template-domains .dropdown-main .savedideas-drop-data{
		width: calc(100% + 150px);
	}	

	.page-template-template-domains .dropdown-main .savedideas-drop-data{
		width: calc(100% + 150px);
	}
	.page-template-template-domains .tlds-dropdown{
		width: calc(100% + 150px);
	}
}

.industry-sub {
	flex-direction: row-reverse;
}

.industry-sub .industry-sub-left ,
.industry-sub .industry-sub-right{	
	width: 49%;
}

.industry-sub button , .industry-sub button.apply-btn{
	width: 100%;
	margin: 2px 0px;
}
.industry-sub button.btn.tlds-cancel{
	background: transparent;
}
.industry-sub button.btn.cancel.cancel_btn{
	background: transparent;
}
.industry-sub button.btn.cancel.cancel_btn:hover,
.industry-sub button.btn.clear:hover,
.industry-sub button.btn.tlds-cancel {
	color: #8D8D8D;
}
.industry-sub {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: none;
	padding: 10px 0px 0px 0;
	margin-top: 0px;
}

.industry-sub .industry-sub-right {
	display: flex !important;
	justify-content: space-between;
}

.industry-sub button {
	width: 100%;
	border: 1px solid rgba(74, 74, 74, 0.2);
	border-radius: 5px;
	display: inline-block;
	padding: 6px 20px;
	text-align: center;
	background: transparent;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #8D8D8D;
	height: 42px;
	text-transform: capitalize;
}

.industry-sub button.apply-btn {
	background: #0054FF;
	border: 1px solid #0054FF;
	border-radius: 5px;
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}

.industry-sub .industry-sub-right button.apply-btn:hover {
	background-color: #0054FF;
}

@media (min-width: 1200px) {
	.industry-sub button {
		padding: 6px 12px;
	}
}

.industry-sub .industry-sub-right {
	display: flex;
	justify-content: space-between;
}
.industry-sub .industry-sub-right button.apply-btn:hover {
	background-color: #0054FF;
}

.eng-other-filter {
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px 16px;
	margin: 15px 0px;
}
.drop-down-data .industry-sub button{
	text-transform: capitalize;
}
.eng-other-filter button {
	color: #b1b1b1;
	background:#FFFFFF !important;
	border: none;
	box-sizing: border-box;
	border-radius: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: auto !important;
	width: 100%;
}

.eng-other-filter button:hover,
.eng-other-filter button:focus {
	background-color: transparent;
	outline: none;
	box-shadow: none;
	color: #b1b1b1;
	border: none;
}

.eng-other-filter button span {
	position: inherit;
	right: 0;
	top: 0;
	font-size: 30px;
	color: #b1b1b1;
}

.eng-other-filter button span.idea-count {
	color: #fff;
}

.eng-other-filter .drop-down-data {
	position: inherit;
	width: 100%;
	border: none;
	padding: 0px;
	margin-top: 12px;
	box-shadow: none;
}

.eng-other-filter ul.live-search-list.word-type {
	padding: 20px 0px 0px;
	align-items: baseline;
}

.eng-other-filter ul.live-search-list.word-type h3 {
	padding-left: 0px;
	font: 500 14px/16px "Inter","Open Sans",sans-serif;
	color: #8D8D8D;
}

.btn-check:focus+.btn, .btn:focus{
	box-shadow: none;
	text-decoration: none;
}
.select-text {
	display: flex;
	align-items: center;
}

/*.select-text span {
	font-size: 16px;
	line-height: 18px;
	color: #8D8D8D;
	margin-right: 10px;
}*/

/*.select-text p {
	margin: 0px;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #8D8D8D;
}*/

.cstm-dropdown .industry-text span,
.cstm-dropdown .select-text span {
	font-size: 12px;
	margin-right: 5px;
}
.dropdown-main .cstm-dropdown2 button .count-down span.arrow_carrot-down,
.dropdown-main .cstm-dropdown2 button .count-down span.arrow_carrot-up {
	color: #b1b1b1;
	font-size: 30px;
}
.dropdown-main .extensions-dropdown button .count-down{
	display: flex;
	align-items: center;
}

.busi-filter.search-filter.domain-result .mar_set .dropdown-main .cstm-dropdown2 button.btn.btn-default{
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding:5px 10px;
	color: #b1b1b1;
}
.busi-filter.search-filter.domain-result .mar_set .dropdown-main .cstm-dropdown2 button.btn.btn-default:hover{
	outline: none;
	box-shadow: none;
}

.busi-filter.search-filter.domain-result .mar_set .dropdown-main .cstm-dropdown2 button.btn.btn-default .text span{
	color: #b1b1b1;
	font-size: 12px;
}
.busi-filter.search-filter.domain-result .mar_set .dropdown-main .cstm-dropdown2 button.btn.btn-default .text p{
	color: #b1b1b1;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
}
.savedideas-drop-data {
	display: none;
	position: absolute;
	z-index: 11;
	margin: 0;
	box-shadow: 0 0 20px 3px rgb(0 0 0 / 10%);
	right: 0;
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 10px 20px;
}
.page-template-template-domains .business-eng .drop-down-data {
	position: absolute;
	z-index: 9;
	box-shadow: 0 2px 20px 0 rgb(0 0 0 / 6%);
	background: #fff;
}
.page-template-template-domains .business-eng .domain-filters {
    background: #FFFFFF;
    border: 1px solid rgba(74, 74, 74, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 16px;
    margin: 0px;
    width: 100%;
}

.page-template-template-domains .business-eng .search-filter h3 {
    font: 600 14px/24px "Inter","Open Sans",sans-serif !important;
    padding: 0px !important;
	color: #8D8D8D !important;
}
.savedideas-drop-data .empty-idea-msg {
	max-width: 75%;
	margin: 0 auto;
	text-align: center;
	font: 400 16px/26px "Inter","Open Sans",sans-serif;
	color: #b1b1b1;
	padding: 10px 0;
}
/*.dropdown-main .savedideas-drop-data {
	width: 324px;
}*/
.dropdown-main .savedideas-drop-data ul {
	padding: 0px;
}
.dropdown-main .savedideas-drop-data ul::-webkit-scrollbar {
	width: 6px !important;
	height: 65px !important;
}

.dropdown-main .savedideas-drop-data ul::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
}

.dropdown-main .savedideas-drop-data ul::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.5);
	border-radius: 5px;
}

.dropdown-main .savedideas-drop-data ul::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.15);
	border-radius: 5px;
}
.save-ideas .alert a.close{
	float: right;
	font-size: 21px;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity:1;
	text-decoration: none;
}
@media (max-width:767px) {
.save-ideas .alert a.close{
	line-height: 1 !important;
}
}

.save-ideas .alert a.close:focus,
.save-ideas .alert a.close:hover {
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: 1;
}
.save-ideas {
	padding: 0px 6px 15px !important;
}

.save-ideas p {
	font-weight: bold !important;
	font-size: 14px !important;
	line-height: 16px !important;
	text-align: center;
	color: #8D8D8D !important;
	margin-bottom: 10px;
}

.save-ideas .input-main {
	position: relative;
	margin-bottom: 10px;
}

.save-ideas .email-input {
	height: 42px;
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
	width: 100%;
	border: none;
	font-style: italic;
	font-size: 10px;
	line-height: 12px;
	color: #8D8D8D;
	padding: 0px 100px 0px 10px;
}

.save-ideas a.send {
	width: 80px;
	height: 32px;
	top: 5px;
	right: 8px;
	line-height: 32px;
	background: #0054FF;
	border: 1px solid #0054FF;
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.save-ideas .form-group a {
	width: auto;
	height: auto;
	position: static;
	background: 0 0;
	font-weight: 600;
	line-height: normal;
	font-size: inherit;
	text-decoration: underline;
}

.save-ideas .form-group input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.save-ideas .form-group label {
	font-size: 10px;
	line-height: 12px;
	color: #4A4A4A;
	position: relative;
	display: flex;
	font-weight: normal;
}

@media (min-width:480px) {
	.save-ideas .form-group label {
		font-size: 12px;
	}
}

.save-ideas .form-group label a {
	color: #0054FF;
	text-decoration: none;
	display: contents;
	margin-left: 2px;
}

.save-ideas .form-group label:before {
	content: '';
	appearance: none;
	border-radius: 5px;
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
	height: 20px;
	background: #fff;
	border: 1.5px solid #D0D8FF;
}
.rtl .save-ideas .form-group label:before{
	margin-left: 5px;
	margin-right: 0px;
}


.save-ideas .form-group input:checked+label:before {
	background: #0054FF;
	border-color: #0054FF;
}

.page-template-template-nameideas .save-ideas .form-group input:checked+label:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 9px;
	width: 7px;
	height: 12px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
.rtl.page-template-template-nameideas .save-ideas .form-group input:checked+label:after{
	left: auto;
	right: 9px;
}

.page-template-template-domains .save-ideas .form-group input:checked+label:after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 9px;
	width: 7px;
	height: 12px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.alert {
	margin: 10px 0px 10px;
}

.alert p {
	text-align: left;
    display: flex;
    margin: 0px !important;
    align-items: center;
    height: 100%;
	font-weight: normal !important;
}
.alert a.close {
	font-size: 20px;
}
@media (min-width: 768px) {
	.save-ideas {
		padding: 15px 0px 0px;
	}
}

.dropdown-main .cstm-dropdown2 button .text span.elegant-icon {
    color: #fff;
    font-size: 24px;
}
.dropdown-main .cstm-dropdown2 button .text span.elegant-icon.icon_star{
    color: #fea000;
}

.dropdown-main.update .savedideas-drop-data:before,
.dropdown-main.update .savedideas-drop-data:after {
	display: none;
}

.savedideas-drop-data ul {
	margin-bottom: 10px;
	max-height: 345px;
	overflow-y: scroll;
	padding: 0;
	margin: 0;
}
.dropdown-main .savedideas-drop-data ul {
	padding: 15px 10px 20px;
}

.dropdown-main .savedideas-drop-data ul li {
	margin: 0px 0px 5px;
	padding: 0px;
	border: none;
}

.dropdown-main .savedideas-drop-data ul li:hover {
	background-color: transparent;
}

.dropdown-main .savedideas-drop-data ul li .list-data {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown-main .savedideas-drop-data ul li .list-data a {
	text-decoration: none;
	width: 100%;
	margin-right: 10px;
}

.dropdown-main .savedideas-drop-data ul li .list-data .text {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: rgba(254, 160, 0, 0.1);
	border-radius: 4px;
	min-height: 36px;
	align-items: center;
	padding: 6px 6px;
	margin-right: 10px;
}

.dropdown-main .savedideas-drop-data ul li .list-data .text span {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #4A4A4A;
	flex: 0 0 50%;
	max-width: 50%;
	word-break: break-all;
}

.dropdown-main .savedideas-drop-data ul li .list-data .text .register-btn {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #FEA000;
	text-decoration: none;
}

.dropdown-main .savedideas-drop-data ul li .list-data .text .register-btn i {
	margin-left: 5px;
}

.dropdown-main .savedideas-drop-data ul li .list-data .close-icon span {
	font-weight: 900;
	font-size: 20px;
	line-height: 14px;
	color: rgba(255, 0, 0, 0.5);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
#domain-checker-form form .input-group{
	box-shadow: none !important;
}
.page-template-template-nameideas #domain-checker-form form .input-group.large input{
		height: 35px;
		padding: 0px 10px;
}
#domain-checker-form form .input-group.large input {
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px !important;
	font-style: italic;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 14px !important;
	color: #4A4A4A;
	width: 100%;
}
.dropdown-main {
	width: 100%;
	position: relative;
	display: inline-block;
}


.dropdown-main .extensions-dropdown button{
	transition: all ease 0.3s;
	font-size: 24px;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 42px;
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px !important;
	padding: 5px 10px;
	color: #b1b1b1;
}

.dropdown-main .extensions-dropdown button .count-down span{
	font-size: 30px;
}

.dropdown-main .extensions-dropdown button .text {
	align-items: center;
	display: flex;
}

.dropdown-main .extensions-dropdown button .text span {
	color: #b1b1b1;
	font-size: 12px;
}

.dropdown-main .extensions-dropdown button .text p {
	margin: 0px;
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	text-transform: capitalize;
	letter-spacing: normal;
}

.dropdown-main .extensions-dropdown button:focus {
	outline: 0;
	box-shadow: none;
	background-color: transparent;
	border: 1px solid rgba(74, 74, 74, 0.2);
}
.btn-default.active{
	background-color: transparent;
}


.drop-down-data .row.cstm_label {
	margin: 20px 0px 0 !important;
	max-height: 200px;
}

.drop-down-data .row.cstm_label .col-md-12 {
	padding: 0px;
}

.row.cstm_label::-webkit-scrollbar {
	width: 6px !important;
	height: 65px !important;
}

.row.cstm_label::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
}

.row.cstm_label::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.15);
	border-radius: 5px;
}

.row.cstm_label::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.5);
	border-radius: 5px;
}

.cstm_label .keywords {
	padding: 10px 0px 0px !important;
	align-items: baseline;
}

.page-template-template-domains .cstm_label .keywords h3 {
	font: 500 14px/16px "Inter","Open Sans",sans-serif !important;
	color: #8D8D8D;
	margin: 0px;
}

.cstm_label ul.keywords li input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.cstm_label ul.keywords li label {
	position: relative;
	cursor: pointer;
	padding: 0px;
}

.rtl .cstm_label ul.keywords li label{
	padding: 0px;
}
.rtl .cstm_label ul.keywords li label:before{
	margin-right: 0px;
	margin-left: 10px;
}


.cstm_label ul.keywords li label:before {
	content: '';
	appearance: none;
	padding: 8px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
	border: 1px solid #8D8D8D;
	border-radius: 50px;
}

.cstm_label ul.keywords li input:checked+label:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left:5px;
	width: 6px;
	height: 12px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.page-template-template-nameideas .cstm_label ul.keywords li input:checked+label:after{
    top: 4px;
    left: 5px;
}
.cstm_label ul.keywords li input:checked+label:before {
	background: #0054FF;
	border-radius: 50px;
	border: 1px solid #0054FF;
}

.cstm_label ul.rhyming-on li label .checkmark {
	border: 1px solid #8D8D8D;
	box-sizing: border-box;
	border-radius: 2.5px;
	background: transparent;
}

.cstm_label ul {
	padding: 0;
	margin: 0;
}
.cstm_label ul li{
	list-style: none;
	margin: 0px;
}
.cstm_label ul li label {
	display: block;
	position: relative;
	cursor: pointer;
	user-select: none;
	font: 400 16px/2 "Inter","Open Sans",sans-serif !important;
	text-transform: capitalize;
}


.page-template-template-domains .cstm_label ul li label{
	display: inline;
}
.cstm_label ul li label input:checked~.checkmark {
	background: #0054FF;
	border-radius: 5px;
}

.cstm_label ul li label {
	font-size: 14px !important;
	line-height: 20px!important;
	color: #4A4A4A;
	margin: 0px 0px 5px !important;
	padding-left: 30px;
}

.rtl .cstm_label ul li label{
	padding-left: 0px;
	padding-right: 30px;
}

.cstm_label ul li label input{
	position: absolute;
	opacity: 0;
	cursor: pointer;    width: 0;
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D;
	height: 35px;
}

.page-template-template-domains .business-eng .domain-filters .cstm_label ul li label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.cstm_label ul li label .checkmark {
	top: 0px;
	height: 20px;
	width: 20px;
	position: absolute;
	left: 0;
	border-radius: 4px;
	border: 1px solid #dbdbdb;
}

.rtl .cstm_label ul li label .checkmark{
	left: auto;
	right: 0px;
}

.cstm_label ul li label .checkmark:after {
	top: 0px;
	left: 2px;
}

.cstm_label ul li label .checkmark:after {
	content: "\2713\0020" !important;
	transform: scale(1);
	position: absolute;
	top: 0;
	left: 4px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	display: none;
}
.cstm_label ul li label input:checked~.checkmark:after {
	display: block;
}
.busi-filter.search-filter .drop-down-data.eng-ind-filter {
	background: #FFFFFF;
	border: 1px solid rgba(74, 74, 74, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px 16px;
	margin: 0;
	width: 100%;
}

.busi-filter.search-filter .drop-down-data.eng-ind-filter button {
	box-sizing: border-box;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.busi-filter.search-filter .drop-down-data.eng-ind-filter button.btn.clear{
	background-color: transparent;
}

.busi-filter.search-filter .drop-down-data.eng-ind-filter button span {
	position: inherit !important;
	right: 0 !important;
	top: 0 !important;
}

.busi-filter.search-filter .drop-down-data.eng-ind-filter form .search_bar input {
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D;
	height: 35px;
	width: 100%;
	border: 1px solid #dbdbdb;
	width: 100%;
	padding: 0px 10px;
}

.busi-filter.search-filter .drop-down-data.eng-ind-filter:before,
.busi-filter.search-filter .drop-down-data.eng-ind-filter::after {
	display: none;
}

.drop-down-data.hide-me {
	display: none;
}

.page-template-template-nameideas .search-filter h3 {
	font: 600 14px/24px "Inter","Open Sans",sans-serif !important;
	padding: 0px;
	color: #666;
	margin: 0px;
}
.asRange {
	width: 94% !important;
	background: rgba(74, 74, 74, 0.1);
	border-radius: 5px;
	height: 6px;
	margin-top: 10px !important;
}

.asRange .asRange-selected {
	background: #0054FF !important;
	height: 6px !important;
}

.asRange .asRange-pointer {
	top: -8px;
}

.asRange .asRange-pointer:before {
	width: 20px;
	height: 20px;
	background: #0054FF !important;
	top: 0px !important;
}
.domain-filters ul.live-search-list.word-type h3 {
	font: 500 14px/16px "Inter","Open Sans",sans-serif !important;
	color: #8D8D8D;
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

.domain-filters .filter .switch-toggle {
	width: 100%;
	padding: 2px 0;
}

.domain-filters .filter .switch-toggle .inner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.domain-filters .filter .switch-toggle .inner .condition {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 15%;
	flex: 0 0 15%;
	max-width: 15%;
	text-align: left;
}

.domain-filters .filter .switch-toggle .inner .condition p {
	margin: 0 !important;
	font: 500 16px/1 "Inter","Open Sans",sans-serif !important;
	color: #b1b1b1;
}

.domain-filters .filter .switch-toggle .inner span {
	font: 600 12px/24px "Inter","Open Sans",sans-serif;
	color: #666;
}

.switch-toggle .switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
}
.switch-toggle .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-toggle .switch input:checked+.slider {
	background-color: #fea000;
}

.switch-toggle .switch input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
}

.switch-toggle .switch .slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 3px;
	background-color: #fff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

.switch-toggle .switch .slider.round {
	border-radius: 34px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	background-color: #ccc;
}
.busi-filter.search-filter.domain-result .cstm-dropdown{
	padding: 5px 10px;
	margin: 0px;
}
.domain-filter .modal-dialog {
	height: 100%;
}

 body .modal {
    top: auto;
    background: #FFFFFF;
    border-top: 2px solid #FEA000;
    box-shadow: 0px -4px 5px rgb(0 0 0 / 10%);
    bottom: 0;
    height: auto;
}
@media (min-width: 767px){
	body .modal{
		padding:0px;
	}
}
.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body .switch-toggle {
	margin-top: 0px;
}
@media (min-width: 480px){
	.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body .switch-toggle {
		padding: 10px 0;
	}
}
body .modal .modal-content {
	padding: 20px;
	width: 100%;
	border: none;
}
@media (min-width: 768px){
	body .modal .modal-content {
		padding: 20px 30px;
	}
}
.modal-header .industry-text  h4.modal-title {
	color: #666;
}

.modal .modal-content .modal-header {
	padding: 0px !important;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: none;
}

.modal .modal-content .modal-header span {
	margin-right: 0px;
	color: #444444;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.modal .modal-content .modal-header h2 {
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	color: #8D8D8D;
}

.modal .modal-content .savedideas-drop-data {
	background: #FFFFFF;
	border: 1px solid #DBDBDB !important;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 10px !important;
}
@media (min-width: 768px){
	.modal .modal-content .savedideas-drop-data {
		padding: 15px !important;
	}
}


.modal .modal-content .savedideas-drop-data ul li {
	margin: 0px 0px 5px;
	padding: 0px !important;
	border: none;
}

.modal .modal-content .savedideas-drop-data ul li .list-data {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.modal .modal-content .savedideas-drop-data ul li .list-data a {
	text-decoration: none;
	width: 100%;
}

.modal .modal-content .savedideas-drop-data ul li .list-data span {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #4A4A4A;
	font-weight: normal;
}
@media (max-width:480px){
	.modal .modal-content .savedideas-drop-data ul li .list-data span {
		max-width: 50%;
		word-break: break-all;
	}
}


.modal .modal-content .savedideas-drop-data ul li .list-data .register-btn {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #FEA000;
	text-decoration: none;
}

.modal .modal-content .savedideas-drop-data ul li .list-data .register-btn i {
	margin-left: 5px;
}
.rtl .modal .modal-content .savedideas-drop-data ul li .list-data .register-btn i {
	margin-left: 0px;
	margin-right: 5px;
}

.modal .modal-content ul::-webkit-scrollbar {
	width: 6px !important;
	height: 65px !important;
}

.modal .modal-content ul::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05) !important;
	border-radius: 5px;
}

.modal .modal-content ul::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.15) !important;
	border-radius: 5px;
}

.modal .modal-content ul::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.5) !important;
	border-radius: 5px;
}

.modal .modal-content .savedideas-drop-data ul li .list-data .text {
	display: flex;
	justify-content: space-between !important;
	width: 100%;
	background: rgba(254, 160, 0, 0.1);
	border-radius: 4px;
	min-height: 36px;
	align-items: center;
	padding: 6px 6px;
}

.modal .modal-content .savedideas-drop-data ul li .list-data a {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: #FEA000;
	text-decoration: none;
	display: flex;
	width: 100%;
	margin-right: 10px;
}

.rtl .modal .modal-content .savedideas-drop-data ul li .list-data a{
	margin-right:0px;
	margin-left: 10px;
}

.modal .modal-content .savedideas-drop-data ul li .list-data .close-icon span {
	font-weight: 900;
	font-size: 20px;
	line-height: 14px;
	color: rgba(255, 0, 0, 0.5);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
#myModalSaved .modal-dialog {
    width: 100%;
    top: 0;
    height: 100%;
    max-width: 100%;
    margin: 0px;
}

#myModalSaved .modal-dialog .modal-content .modal-body {
	padding: 0px !important;
	margin-top: 10px !important;
}

#myModalSaved .modal-dialog .modal-content .modal-footer {
	position: static !important;
	border: none !important;
	padding:15px !important;
}
@media (max-width: 767px) {
	#myModalSaved .modal-dialog .modal-content .modal-footer{
		padding:15px 0px !important;
	}
	/* body .result-page .row.align-set .fiter-drop .btn-default{
		width: 100% !important;
	} */
/*	body .alert{
		height: auto !important;
		padding: 15px !important;
	}*/
}

#myModalSaved .modal-dialog .modal-content .modal-footer .industry-sub-right {
	left: 0px;
	position: static !important;
}

.modal .modal-content .save-ideas .form-group label {
	align-items: center;
	text-align: left;
}

.modal .modal-content .save-ideas .form-group input:checked+label:after {
    top: 4px;
    left: 8px;
}
@media (max-width: 480px) {
	.modal .modal-content .save-ideas .form-group input:checked+label:after {
		top: 8px;
		left: 8px;
	}
}

#myModalSaved .modal-dialog .modal-content .modal-footer button {
	background: #EDEDED;
	border: 1px solid #EDEDED;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #4A4A4A;
	width: 100% !important;
	text-transform: capitalize;
}

.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body .domains-list ul {
	max-height: calc(100vh - 380px) !important;
	margin-top: 20px;
	max-height: 310px;
	overflow-y: scroll;
	border: none;
}

.modal.domain-filter .modal-dialog{
	width: 100%;
	max-width: 100%;
}
.domain-filter .modal-dialog .modal-content form{
	position: relative;
}
.domain-filter .modal-dialog .modal-content .modal-footer {
	bottom: 0;
	width: 100%;
	background: #fff;
	border: 0;
	padding-top: 0;
	text-align: right;
	left: 0px;
	padding: 20px 0px 0px;
	border: 0px !important;
	justify-content: center;
	display: block;
}

.domain-filter .modal-dialog .modal-content {
	height: 100%;
	border-radius: 0;
}

.domain-filter .modal-dialog .modal-content .modal-footer {
	left: 0px;
	/*padding: 0px 20px 15px;*/
	border: 0px !important;
}

.domain-filter .modal-dialog .modal-content .modal-footer .inner {
	border-top: 0;
	padding-top: 0;
	margin: 0px;
}

.domain-filter .modal-dialog .modal-content .modal-footer .inner button {
	width: 100% !important;
	margin: 15px 0px 0px !important;
	background: #EDEDED;
	border: 1px solid #EDEDED;
	box-sizing: border-box;
	border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #4A4A4A;
	height: 42px;
	text-transform: capitalize;
}

.domain-filter .modal-dialog .modal-content .modal-footer .inner button.apply-btn {
	background: #0054FF;
	border: 1px solid #0054FF;
	border-radius: 5px;
	margin: 0px !important;
	color: #fff;
}
@media (max-width: 767px){
	.domain-filter .modal-dialog .modal-content .modal-footer .inner button.apply-btn{
		padding: 0px  !important;
	}
	.domain-filter .modal-dialog .modal-content .modal-footer .inner button,
	#myModalSaved .modal-dialog .modal-content .modal-footer button{
		padding: 0px  !important;
	}
}
.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body {
	background: #FFFFFF;
	border: 1px solid #DBDBDB !important;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px !important;
	margin-top: 15px;
}

.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body input {
	background: rgba(74, 74, 74, 0.05);
	border: 1px solid rgba(74, 74, 74, 0.05);
	padding: 0px 10px;
	border-radius: 5px;
	font-style: italic;
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D;
	height: 35px;
	width: 100%;
	left: 0;
}
#myModalSaved .modal-dialog .modal-content .modal-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff;
	border: 0;
	padding-top: 0;
	left: 0px;
}
.domain-filter .modal-dialog {
	height: 100%;
}
.modal {
	top: auto;
	background: #FFFFFF;
	border-top: 2px solid #FEA000;
	box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.10);
}
.domain-filter.name-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body {
	padding: 0px !important;
	border: none !important;
}

#myModalSaved .modal-dialog .modal-content .savedideas-drop-data ul {
	max-height: calc(100vh - 400px) !important;
}

#myModalSaved .modal-dialog .modal-content .savedideas-drop-data {
	position: static;
	width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
}

.modal-body.extensions {
	background: #FFFFFF;
	border: 1px solid #DBDBDB !important;
	box-sizing: border-box;
	border-radius: 5px;
	margin-top: 15px;
}
.modal-body.extensions .search-bar{
	margin-bottom: 20px;
}

.modal-body.extensions .search-bar .search_bar input{ 
	width: 100%;
	background-color: #f4f6f7;
	padding: 8px 10px;
	border: 1px solid #DFE5E8;
}

.ul-list ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.list-modal ul.tld-dropdown-list {
	max-height: calc(100vh - 380px) !important;
	overflow-y: scroll;
}

ul.tld-dropdown-list {
	max-height: 160px;
	overflow-y: scroll;
}

ul.tld-dropdown-list::-webkit-scrollbar {
	width: 6px !important;
	height: 65px !important;
}

ul.tld-dropdown-list::-webkit-scrollbar-track {
	background: rgba(74, 74, 74, 0.05);
	border-radius: 5px;
}

ul.tld-dropdown-list::-webkit-scrollbar-thumb {
	background: rgba(74, 74, 74, 0.15);
	border-radius: 5px;
}

ul.tld-dropdown-list::-webkit-scrollbar-thumb:hover {
	background: rgba(74, 74, 74, 0.5);
	border-radius: 5px;
}

.ul-list ul li{
	line-height: normal;
	margin: 0px 0px 5px;
	position: relative;
}
.ul-list ul li:last-child{
	margin: 0px;
}

.ul-list ul li label .checkmark {
	border: 1px solid #8D8D8D;
	box-sizing: border-box;
	border-radius: 2.5px;
	background: transparent;
}

.ul-list ul li label input:checked~.checkmark {
	background: #0054FF;
	border-radius: 5px;
}

.ul-list ul li label {
	font-size: 14px;
	line-height: 20px;
	color: #4A4A4A;
	margin: 0px;
	padding-left: 30px;
	font-weight: normal;
}

.ul-list ul li label .checkmark {
	position: absolute;
	top:2px;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 4px;
	border: 1px solid #dbdbdb;
}

.ul-list ul li label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.ul-list ul li label .checkmark:after {
	content: "\2713\0020" !important;
	-webkit-transform: scale(1);
	transform: scale(1);
	position: absolute;
	top: -7px;
	left: 5px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	content: "";
	position: absolute;
	display: none;
}
.ul-list ul li label .checkmark:after {
	top: 0px;
	left: 2px;
}

.ul-list ul li label input:checked~.checkmark:after {
	display: block;
}

/*.row.align-set .fiter-drop .btn-default.industry span.idea-count {
	color: #fff;
	position: absolute;
	top: -10px;
	width: 30px;
	height: 30px;
	line-height: 27px;
	border-radius: 50%;
	background: #FEA000;
	letter-spacing: 1px;
	border: 2px solid #fff;
	font: 500 14px/27px "Inter","Open Sans",sans-serif;
}*/
@media (min-width:1025px) {
	.result-page .row.align-set {
		display: none;
	}
}

.result-page .row.align-set .fiter-drop {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}
.result-page .row.align-set .fiter-drop .btn-default {
	background-color: #fff;
	border-color: transparent !important;
	width: 50px !important;
	height: 50px !important;
	color: #8D8D8D !important;
	font-size: 24px !important;
	outline: none;
	padding: 6px 12px;
}

.result-page .row.align-set .fiter-drop h3 {
	font-size: 12px;
	line-height: 14px;
	color: #8D8D8D;
	margin: 0px;
	font-weight: 400;
	/* text-decoration: underline; */
}
.result-page .row.align-set .fiter-drop .btn-default.industry span.idea-count {
	color: #fff;
	position: absolute;
	top: -10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #FEA000;
	letter-spacing: 1px;
	border: 2px solid #fff;
	font: 500 14px/27px "Inter","Open Sans",sans-serif;
}
.row.align-set .fiter-drop .btn-default.industry span.idea-count {	
	right: -12px;
    padding: 0px;
}

.row.align-set .fiter-drop .btn-default{
	font-size: 12px !important;
	width: 100% !important;
	position: relative;
}

@media (max-width: 1024px) {

	.row.align-set .fiter-drop .btn-default{
		width: 100% !important; 
		padding: 6px 12px;
	}
}

#main-filter-modal .cstm_label {
	padding: 30px 0 0px;
}

#main-filter-modal .filter {
	padding: 0px;
}

#main-filter-modal .filter .switch-toggle .inner {
	justify-content: flex-start;
}
#main-filter-modal .filter .switch-toggle .inner {
	display: flex;
	width: 100%;
	align-items: center;
}
.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body .switch-toggle p {
	color: #666;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
	margin: 0 10px !important;
	font-size: 14px !important;
}
#main-filter-modal .filter .switch-toggle .switch {
	width: 44px;
	height: 24px;
}

#main-filter-modal .filter .switch-toggle .inner .condition {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%;
	text-align: left;
}

.rtl #main-filter-modal .filter .switch-toggle .inner .condition{
	text-align:right;
}

.domain-filter .modal-dialog {
	height: 100%;
	margin: 0px;
}
.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body .switch-toggle {
	margin-top: 0px;
}
.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-header h4.modal-title {
	font: 600 24px/1 "Inter","Open Sans",sans-serif !important;
	color: #666;
}

.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body h3 {
	font: 600 12px/1 "Inter","Open Sans",sans-serif !important;
	color: #666;
	padding-top: 12px;
	margin: 0;
}
@media (min-width: 360px){
	.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body h3 {
		font: 600 14px/1 "Inter","Open Sans",sans-serif !important;
	}
}
@media (min-width: 480px){
	.domain-filter .modal-dialog .modal-content form#filter-mobile-form .modal-body h3 {
		font: 600 16px/1 "Inter","Open Sans",sans-serif !important;
	}
}
body.modal-open{
	padding: 0px !important;
}

.dropdown-main .cstm-dropdown2 button .count-down span.idea-count {
	position: inherit !important;
	width: 20px;
	height: 20px;
	background: #FEA000;
	border-radius: 5px;
	border: none;
	margin-right: 3px;
	font: 500 10px/20px "Inter","Open Sans",sans-serif;
	color: #fff;
	letter-spacing: 1px;
}
.mar_set .dropdown-main .cstm-dropdown2 button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0042C8;
    border-radius: 5px;
    border: none;
    padding: 10px 16px;
    height: 42px;
}
.mar_set .dropdown-main .cstm-dropdown2 button .count-down span.elegant-icon{
	color: #fff;
}
.page-template-template-domains .mar_set .dropdown-main .cstm-dropdown2 button .count-down span.elegant-icon{
	color:#b1b1b1;
}
/* .mar_set .dropdown-main .cstm-dropdown2 button */
/*.mar_set #domain-checker-form form .input-group.large input {
    background: rgba(74, 74, 74, 0.05);
    border-radius: 5px !important;
    height: 35px !important;
    font-style: italic;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 14px !important;
    color: #4A4A4A;
    padding: 0px 10px !important;
}*/
.mar_set #domain-checker-form.new-result-page form#form .input-group.large span.input-group-btn{
	/* position: initial;
	width: 100%; */
    height: auto;
}
.page-template-template-nameideas .mar_set #domain-checker-form form#form span.input-group-btn button#Submit {
    background: #0054FF;
    border-radius: 5px !important;
    height: 42px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    padding: 13px 20px;
    margin-top: 5px;
    color: #fff;
    text-transform: capitalize;
    border: none;
}

.cstm-dropdown2 button span.idea-count {
	background: #FEA000;
	border-radius: 5px;
	right: -12px;
	top: 0px;
	width: 25px;
	height: 25px;
	font: 500 12px/25px "Inter","Open Sans",sans-serif;
	position: absolute;
	color: #fff;
}

.mar_set .busi-filter.search-filter .drop-down-data.eng-ind-filter ,.page-template-template-nameideas .mar_set .drop-down-data{
	width: 100% !important;
}
input:focus-visible {
  outline: none;
}

body .alert.fade {
    opacity: 1 !important;
}

body .alert span {
    font: 400 18px/50px "Inter","Open Sans",sans-serif;
}
body .alert a {
    width: auto !important;
   /* height: auto !important;*/
    /*line-height: 50px !important;*/
    float: right;
    font-size: 26px;
    border: none;
	color: #8D8D8D !important;
    text-decoration: none;
	margin-top: -5px;
    height: 100%;
}
/*body .domain-result .save-ideas .alert a.close{
	margin-top: 0px;
	line-height: 50px !important;
}*/
body .alert p{
	color: #8D8D8D !important;
}

body .alert {
    /*height: 50px;*/
    border-radius: 4px;
    /*line-height: 50px;*/
    margin-bottom: 15px;
    padding:13px 15px;
    text-align: left;
    opacity: 1;
}
/* body .alert.alert-danger a{
	color: #721c24;
} */

body #intro .alert .alert-wrap a{
	color: #fff !important;	
}
body .alert.alert-danger{
	background-color: #f2dede;
    border-color: #ebccd1;
	color: #721c24;
}
body #intro .alert.alert-danger{
	border: 1px solid rgba(255,255,255,.4);
	background-color: rgba(255,255,255,.2);
}
.alert-wrap{
	display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


/* body .alert.alert-danger p,
body .alert.alert-danger a{
	color: #721c24 !important;
}
body .alert.alert-warning p,
body .alert.alert-warning a{
	color: #856404;
} */
body .alert.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
/* body .alert.alert-success p,
body .alert.alert-success a{
	color: #155724 !important;
}
body .alert.alert-success p,
body .alert.alert-success a{
	color: #155724 !important;
} */

.alert-box .col-md-3{
	position: relative;
}

#main-filter-modal .filter .switch-toggle .inner span.toggle-title {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #666;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item{
	font-weight:normal !important;
}

.generatorbtn {
    background-color: #131925 !important;
}