body #site-header.result-head,
body #site-header.fixed.shrink.result-head {
    background: linear-gradient(11.31deg, #0048A5 -26.82%, #0054FF 30.34%)!important;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.15) !important;
    border-radius: 0px;
}

@media (max-width: 991px) {
    #site-header.fixed .header-main {
        margin-top: 0px !important;
    }
}

body .site-header.result-head .site-navigation {
    display: none !important;
}

body #site-header.fixed.result-head .header-main .gen-search {
    padding: 10px 0px;
}

body .site-header.result-head .header-main .gen-search {
    padding: 22px 0px;
    margin: 0px !important;
    width: 70%;
    justify-content: flex-start;
    display: flex !important;
}

body .site-header.result-head .header-main .gen-search .name-search {
    margin: 0 auto !important;
}

body .site-header.result-head .header-main .gen-search .inputMain {
    font-size: 18px;
    line-height: 22px;
    height: 54px !important;
    color: #8D8D8D;
    background: #FFFFFF;
    border: 0.5px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 100% !important;
}

body .site-header.result-head .header-main .gen-search .name-search a {
    width: 110px !important;
    height: 42px !important;
    top: 6px !important;
    right: 6px !important;
    line-height: 42px !important;
    border-radius: 2.5px;
}

body header.site-header.result-head .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-main.update .cstm-dropdown2 button:hover {
    background: #0042C8;
}

.dropdown-main.update .cstm-dropdown2 button .text {
    align-items: center;
    display: flex;
}


.dropdown-main.update .cstm-dropdown2 button .text p {
    margin: 0px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-left: 10px;
    text-transform: capitalize;
}

.dropdown-main.update .cstm-dropdown2 button .count-down {
    display: flex;
    align-items: center;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data {
    right: 0;
    background: #FFFFFF;
    border: 1px solid rgba(74, 74, 74, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 10px 20px;
    width: 100%;
}

@media (min-width: 992px) {
    .page-template-template-nameideas .dropdown-main.update .savedideas-drop-data {
        top: 62px;
    }
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data:before,
.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data:after {
    display: none;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul {
    padding: 15px 10px 20px;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li {
    margin: 0px 0px 5px;
    padding: 0px;
    border: none;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li:hover {
    background-color: transparent;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data a {
    text-decoration: none;
    width: 100%;
    margin-right: 10px;
}

.rtl.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data a{
    margin-right: 0px;
    margin-left: 10px;
}

.rtl .dropdown-main .savedideas-drop-data ul li .list-data .text{
    margin-right: 0px;
    margin-left: 10px;
}


/* .page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data .text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(254, 160, 0, 0.1);
    border-radius: 4px;
    min-height: 36px;
    align-items: center;
    padding: 6px 6px;
    margin-right: 10px;
} */

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data .text span {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #4A4A4A;
    flex: 0 0 50%;
    max-width: 50%;
    word-break: break-all;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data .text .register-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FEA000;
    text-decoration: none;
}

.rtl.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data .text .register-btn i {
    margin-left: 0px;
    margin-right: 5px;
}
.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data .text .register-btn i {
    margin-left: 5px;
}

.page-template-template-nameideas .dropdown-main.update .savedideas-drop-data ul li .list-data .close-icon span {
    font-weight: 900;
    font-size: 20px;
    line-height: 14px;
    color: rgba(255, 0, 0, 0.5);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eng-industry-filter .drop-down-data {
    position: inherit !important;
    width: 100% !important;
    border: none !important;
    padding: 0px !important;
    margin-top: 12px !important;
    box-shadow: none !important;
}

.eng-industry-filter .drop-down-data form input {
    background: rgba(74, 74, 74, 0.05) !important;
    border-radius: 5px !important;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D !important;
    height: 35px !important;
}

.result-page .filter_block.eng {
    border-top: none;
    padding-top: 0px;
    margin-top: 0px !important;
}

.result-page .filter_block.eng .check_avail {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.result-page .filter_block.eng .check_avail h4 {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #4A4A4A
}

.result-page .filter_block.eng .check_avail a p {
    display: inline-block;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #0054FF;
}

.filter_block.eng ul {
    list-style: none;
    padding: 0px;
}

@media (min-width:1025px) {
    .result-page .busi-filter.search-filter {
        padding-top: 58px;
    }
    .main_wraper2 .row.d-flex {
        display: flex;
    }
}

.filter_block.eng ul.list-star li {
    margin-bottom: 5px !important;
    padding: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    list-style: none;
    position: relative;
}

@media (min-width:600px) {
    /* .filter_block.eng ul{
        width: calc(100% + 20px) !important;
        margin-left: -10px;
    } */
    .filter_block.eng ul.list-star li{
        padding: 0px 10px;
    }
}
.filter_block.eng ul.list-star li{
    padding: 0px 5px;	
}

.filter_block.eng .above-row .pad_set,
.filter_block.eng .below-row .pad_set {
    /* padding-right: 15px;
    padding-left: 15px; */
    display: block;
    padding: 0px;
}
@media (min-width:600px) {
    .filter_block.eng .above-row .pad_set,
    .filter_block.eng .below-row .pad_set {
        padding: 0px;
    } 
}

.filter_block.eng ul.list-star li .inner {
    background: transparent !important;
    margin: 0px;
    padding:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
}

.filter_block.eng ul.list-star li .inner span.domain-title {
    background: rgba(0, 84, 255, 0.03);
    border: 1px solid #D0D8FF;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
}

.filter_block.eng ul.list-loading li .inner .domain-title:hover .tool-tip,
.filter_block.eng ul.list-loading li .inner a.clickable-arrow:hover .tool-tip-2{
    display: none !important;
}
.filter_block.eng ul.list-loading li{
    overflow: hidden;
}
.filter_block.eng ul.list-loading li .inner span.domain-title,
.filter_block.eng ul.list-loading li .inner a.clickable-arrow,
.domain-gen-list ul.list-loading li .inner .click-event-box{
    position: relative;
    background: #e2e2e2 !important;
    border: 1px solid  #e2e2e2 !important;
}

.filter_block.eng ul.list-loading li .inner span.domain-title a,
.filter_block.eng ul.list-loading li .inner a.clickable-arrow span,
.domain-gen-list ul.list-loading li .inner .click-event-box a.tld-links,
.domain-gen-list ul.list-loading li .inner .click-event-box .star-result{
    opacity: 0;
}
.filter_block.eng ul.list-loading li .inner span.domain-title::after,
.domain-gen-list ul.list-loading li .inner .click-event-box::after {
    content: "";
    -webkit-animation: ssc-loading 1.3s infinite;
    animation: ssc-loading 1.3s infinite;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.3)), to(transparent));
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
}

@-webkit-keyframes ssc-loading {
    from {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.stardomain a {
    color: #111 !important;
    position: relative;
    line-height: 20px;
    word-break: break-all;
}
.filter_block.eng ul.list-star li .inner span.domain-title a {
    padding: 0px 10px;
    font-size: 16px;
    line-height: 19px;
    color: #4A4A4A !important;
    display: flex;
    height: 44px;
    width: 100%;
    align-items: center;
}
/*@media (min-width: 1025px){
    .filter_block.eng ul.list-star li .inner span.domain-title a{
        padding: 0px 20px;
    }
}*/

.filter_block.eng ul.list-star li .inner span.domain-title a span {
    font-weight: 900;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FEA000;
    justify-content: center;
    margin-right: 5px;
}

.filter_block.eng ul.list-star li .inner span.domain-title a.checking {
    background: #D0D8FF;
    border-radius: 5px;
}

.filter_block.eng ul.list-star li .inner a.clickable-arrow {
    background: rgba(0, 84, 255, 0.03);
    border: 1px solid #D0D8FF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9.5px 11px;
}

.filter_block.eng ul.list-star li .inner a.clicked-link {
    background: #FEA000;
    border: 1px solid #FEA000;
    box-sizing: border-box;
    border-radius: 5px;
}

.filter_block.eng ul.list-star li .inner a.clicked-link span.icon_star {
    color: #fff;
}

#results .innerResult {
    padding: 25px 24px;
    background: #FFFFFF;
    border: 1px solid #D0D8FF;
    border-radius: 5px;
    /* margin: 0 20px 0px 10px; */
}

.filter_block.eng ul.list-star li.checked:after {
    display: none;
}

.filter_block.eng ul.list-star li.checked:before {
    display: none;
}

#results .innerResult .desktopadv {
    justify-content: flex-start;
    margin: 0px 0 20px 0;
}

#results .innerResult .desktopadv a img {
    padding-right: 15px;
}

#results .innerResult .desktopadv .ad-result {
    display: flex;
    align-items: center;
    width: 100%;
}

#results .innerResult .desktopadv .ad-result a.secound-gd-link {
    margin-right: 10px;
}

#results .innerResult .desktopadv .ad-result a.secound-gd-link img {
    width: 120px;
    height: auto;
}

#results .innerResult ul:before,
#results .innerResult ul:after {
    display: none;
}

#results .innerResult ul li {
    margin: 0px 0px 5px !important;
}
/*#results .innerResult ul li.unavailable.nameideas .text a{
    display: flex;
}*/
#results .innerResult ul li.unavailable.nameideas .text a .register-btn{
    color: #FF0000 !important;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
}
#results .innerResult ul li.unavailable.nameideas .text a .register-btn i{
    color: #FF0000 !important;
}
#results .innerResult ul li.unavailable.nameideas .text a:active{
    box-shadow: none;
}
#results .innerResult ul li.unavailable.nameideas .text a .register-btn i{
    transform: rotate(0deg);
    color: rgba(74, 74, 74, 0.5);
    border: 0px;
    border-radius: 0px;
    font-size: 12px;
    text-align: center;
}

#results .innerResult ul li.unavailable .text {
    /*background: rgba(74, 74, 74, 0.1);*/
    border-radius: 4px;
    height: 100%;
}

#results .innerResult ul li .text {
    width: 100%;
}

#results .innerResult ul li.available .text {
    background: rgba(254, 160, 0, 0.1) !important;
    border-radius: 4px;
}

#results .innerResult ul li.available .text a {
    background: transparent;
    border-radius: 4px;
    display: flex;
}

#results .innerResult ul li.callout.callout-success.clearfix.unavailable .text {
    padding: 12px 13px;
}

#results .innerResult ul li.available .text a {
    border: none;
    box-shadow: none !important;
}

#results .innerResult ul li.unavailable .text .unavailable-btn span {
    border: none;
    color: rgba(74, 74, 74, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

#results .innerResult ul li .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

#results .innerResult ul li .text a {
    width: 100%;
    padding: 12px 13px;
    white-space: normal;
    border: none;
}

#results .innerResult ul li .text .domain-name {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-weight: normal;
}

#results .innerResult ul li .text .domain-name a {
    color: #666;
    text-decoration: none;
}

#results .innerResult ul li .text .domain-name span {
    font-weight: bold;
}

#results .innerResult ul li .text .register-btn {
    padding: 0px !important;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FEA000;
    text-align: right;
    text-transform: capitalize;
}

#results .innerResult ul li .text .register-btn i {
    margin-left: 5px;
}

#results .innerResult .desktopadv .text {
    margin: 0px;
}

#results .innerResult .desktopadv .alternative-btn {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#results .innerResult .desktopadv .alternative-btn a {
    background: #F2F4FE;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #0054FF;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.business-eng #results .innerResult .row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px;
}

.business-eng #results .innerResult .mob-alternative {
    display: inline-block;
    margin: 10px 0px 0px;
    width: 100%;
}

.business-eng #results .innerResult .mob-alternative .domain-advertise a {
    background: #F2F4FE;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #0054FF;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 13px 0px;
    text-align: center;
}

.business-eng #results .innerResult .mob-alternative .domain-advertise a span {
    margin-left: 10px;
}

.business-eng #results .innerResult .mob-alternative .domain-disclosure {
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
}

#results .innerResult .desktopadv .alternative-btn a span {
    width: 22px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#results .innerResult .desktopadv .text h3 {
    font-weight: bold !important;
    font-size: 12px;
    line-height: 14px;
    padding: 0px;
    color: #FEA000;
}
@media (min-width:768px) {
    #results .innerResult .desktopadv .text h3 {
        font-weight: bold !important;
        font-size: 18px !important;
        line-height: 28px;
    }
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

#results .innerResult .desktopadv .text h3 span {
    color: #666;
}

#results .innerResult .desktopadv .text p {
    font-size: 14px;
    line-height: 16px;
    margin: 0px;
    color: #666;
}

#main-filter-modal .cstm_label {
    padding: 30px 0 0px;
}

#main-filter-modal .filter {
    padding: 0px;
}

#main-filter-modal .filter .switch-toggle .inner {
    justify-content: flex-start;
}

.business-eng .switch-toggle .switch {
    margin: 0px !important;
    width: 35px !important;
    height: 22px !important;
}

.domain-filters .filter .switch-toggle .inner .condition {
    display: none;
}

.result-page .switch-toggle .switch input:checked+.slider {
    background-color: #0054FF;
}

.result-page .domain-filters .filter .switch-toggle .inner span.slider.round {
    width: 35px;
}

.result-page .switch-toggle .switch input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    transform: translateX(12px);
}

.result-page .switch-toggle .switch .slider:before {
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
}

.domainify {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 15px 0;
    padding: 0px 15px;
    margin: 5px -10px 5px !important;
    width: calc(100% + 20px) !important;
}

@media (max-width: 480px) {
    .Pagination_nav ul li a {
        font-size: 16px !important;
        padding: 10px 12px;
    }
}

.Pagination_nav ul li a span {
    display: none !important;
}
.Pagination_nav ul li.select a {
    color: #0054FF !important;
}
/* .Pagination_nav ul li:hover a{
    color: #0054FF !important;
} */
.Pagination_nav ul li.select{
    background: #F2F4FE !important;
    border: 1px solid #0054FF;
}
.result-page-ad .home-top {
    margin: 0px;
}

.result-page-ad .home-top .col-right span .get {
    background: #00a63f;
    border-radius: 4px;
    padding: 10px 28px;
    font-size: 14px;
    line-height: 16px;
}

.result-page-ad .wpb_text_column.wpb_content_element {
    margin: 5px 0px 10px !important;
}

.select-text {
    display: flex;
    align-items: center;
}

.select-text span {
    font-size: 16px !important;
    line-height: 18px;
    color: #8D8D8D;
    margin-right: 10px !important;
}

.select-text p {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #8D8D8D;
    text-transform: capitalize;
}

.industry-filter {
    display: flex;
    justify-content: space-between;
}

.industry-filter button {
    width: 100%;
    border: 1px solid rgba(74, 74, 74, 0.2);
    border-radius: 5px;
    display: inline-block;
    padding: 6px 20px;
    text-align: center;
    height: 100%;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8D8D8D;
}

.industry-filter button.apply-btn {
    background: #0054FF;
    border: 1px solid #0054FF;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    height: 42px;
    font-weight: 600;
}

@media (min-width: 1200px) {
    .industry-filter button {
        width: 130px;
        padding: 6px 12px;
    }
    .industry-filter button.apply-btn {
        width: 142px;
    }
}

.result-page .result-page-ad .home-fiverr h2 {
    font-size: 18px;
    line-height: 22px;
}

.result-page .result-page-ad .home-fiverr p {
    font-size: 14px;
    line-height: 16px;
}

.result-page .result-page-ad .home-fiverr .col-right a {
    background: #1DBF73;
    border-radius: 4px;
    padding: 10px 8px;
    font-size: 14px;
    line-height: 16px;
}

.result-page .ddl-close-button {
    display: none;
}

.result-page .col-sm-9.mar_0 {
    width: 100%;
}

@media (min-width:600px) {
    .filter_block.eng ul.list-star li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1025px) {
    .filter_block.eng ul.list-star li {
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .result-page .col-sm-9.mar_0 {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .business-eng #results .innerResult .row {
        flex-direction: row;
    }
    .result-page .domainify {
        height: 99px;
    }
}

@media (max-width:767px) {
    .filter_block.eng ul.list-star li .inner span.domain-title {
        margin-right: 5px;
    }
    .result-page .filter_block.eng .check_avail {
        flex-direction: column-reverse;
        display: flex;
    }
    .result-page .filter_block.eng .check_avail h4 {
        font-size: 14px !important;
        line-height: 16px !important;
        margin: 10px 0px 0px;
    }
    .result-page .filter_block.eng .check_avail a {
        line-height: normal;
    }
    .result-page .filter_block.eng .check_avail a p {
        font-size: 14px !important;
        line-height: 16px !important;
        text-decoration: underline;
    }
    #results .innerResult {
        /* margin: 0 10px 0px 10px; */
        padding: 15px 7px;
    }
    .filter_block.eng ul.list-star li#results{
        padding: 8px 5px !important;
    }
    #results .innerResult .desktopadv .ad-result {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #results .innerResult .desktopadv .alternative-btn {
        width: 100%;
        margin-top: 5px;
        display: none;
    }
    #results .innerResult .desktopadv .ad-result a.secound-gd-link {
        margin-right: 0px;
        margin-left: 10px;
    }
   
    #results .innerResult .desktopadv .text p {
        font-size: 12px;
        line-height: 14px;
    }

    .filter_block.eng ul.list-star li .inner a.clickable-arrow span {
        font-size: 18px;
    }
    .filter_block.eng ul.list-star li .inner span.domain-title a {
        padding: 12px;
    }
    #site-header .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    body .site-header.result-head .header-main .gen-search {
        padding: 11px 0px;
    }
    body .site-header.result-head .header-main .gen-search .name-search a {
        height: 30px !important;
        line-height: 30px !important;
        width: 80px !important;
        font-size: 12px !important;
    }
    body .site-header.result-head .header-main .gen-search .name-search {
        width: 100% !important;
        max-width: 100% !important;
    }
    .header-main .site-title {
        padding: 15px 15px 15px 0px !important;
    }
    #site-header .site-logo {
        width: 51px !important;
    }
    #site-header .site-logo span.logo {
        min-width: auto !important;
        display: none;
    }
    .header-main .site-title {
        padding: 0px !important;
    }
    body .site-header.result-head .header-main .gen-search {
        width: 100%;
    }
}

.savedideas-drop-data button {
    height: 42px;
}

@media (max-width: 979px) {
    #site-header .site-logo {
        margin: 0 auto !important;
        text-align: left;
        width: 100% !important;
    }
    #site-header .header-main .gen-search .name-search form:before {
        top: 2px !important;
    }
    .header-main .site-title {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .main_wraper2 .col-md-3 .busi-filter.search-filter {
        display: none;
    }
    body .site-header.result-head .header-main .gen-search .inputMain {
        width: 100% !important;
        height: 42px !important;
    }
    body .site-header.result-head .header-main .gen-search .name-search a {
        height: 30px !important;
        line-height: 30px !important;
        width: 100px !important;
        font-size: 14px !important;
    }
    #site-header .header-main .gen-search .name-search form:before {
        top: 2px !important;
    }
    .result-page .row.align-set {
        position: fixed;
        bottom: -1px;
        z-index: 99;
        padding: 16px 0px 10px 0px;
        left: 0px;
        width:100% !important;
        background: #FFFFFF;
        border-top: 2px solid #FEA000;
        box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.10);
        margin: 0px;
    }
}

#site-header .site-title a img.small.mob,
#site-header .menu-item-logo a img.small.mob {
    display: inline-block !important;
    width: auto !important;
}

#site-header .menu-item-logo a img.default.desk,
#site-header .site-title a img.default.desk {
    display: none !important;
}

#site-header.fixed.shrink .menu-item-logo a img.default.desk,
#site-header.fixed.shrink .site-title a img.default.desk {
    display: none !important;
}

@media (min-width: 768px) {
    #site-header .menu-item-logo a img.default.desk,
    #site-header .site-title a img.default.desk {
        display: block !important;
    }
    #site-header.fixed.shrink .menu-item-logo a img.default.desk,
    #site-header.fixed.shrink .site-title a img.default.desk {
        display: block !important;
    }
    #site-header .site-title a img.small.mob,
    #site-header .menu-item-logo a img.small.mob {
        display: none !important;
    }
    .business-eng .alert p {
        font: 400 14px/1.5 "Inter","Open Sans",sans-serif !important;
    }
    body .site-header.result-head .header-main .gen-search .name-search form:before {
        top: 10px !important
    }
    body .site-header.result-head .header-main .gen-search .name-search {
        margin-bottom: 0px;
        width: 100%;
        max-width: 100%;
        padding-left: 10px;
    }
    body .site-header.result-head .header-main .gen-search {
        width: 75%;
        margin: 0px auto !important;
    }
    #site-header .site-title {
        width: 25% !important;
    }
    .result-page .result-page-ad .home-top .col-left {
        flex: 0 0 70%;
        max-width: 70%;
        padding-right: 10px;
    }
    .result-page .result-page-ad .home-top .col-right {
        flex: 0 0 30%;
        max-width: 30%;
        padding: 0;
    }
    body .site-header.result-head .header-main .gen-search .name-search a {
        width: 156px !important;
    }
    .save-ideas {
        padding: 15px 0px 0px;
    }
}
/* 
#main-filter-modal .filter .switch-toggle .inner span.toggle-title {
    flex: 0 0 50%;
    max-width: 50%;
} */

@media (max-width: 480px) {
    .result-page .filter_block.eng .check_avail h4 {
        font-size: 12px !important;
        line-height: 16px !important;
        margin: 10px 0px 0px;
    }
    .result-page .filter_block.eng .check_avail a p {
        font-size: 12px !important;
        line-height: 16px !important;
    }
}

.savedideas-drop-data .empty-idea-msg {
    max-width: 100%;
    font: 400 16px/26px "Inter","Open Sans",sans-serif;
}


.result-page .dropdown-main.update .savedideas-drop-data ul::-webkit-scrollbar {
    width: 6px !important;
    height: 65px !important;
}

.result-page .dropdown-main.update .savedideas-drop-data ul::-webkit-scrollbar-track {
    background: rgba(74, 74, 74, 0.05);
    border-radius: 5px;
}

.result-page .dropdown-main.update .savedideas-drop-data ul::-webkit-scrollbar-thumb {
    background: rgba(74, 74, 74, 0.5);
    border-radius: 5px;
}

.result-page .dropdown-main.update .savedideas-drop-data ul::-webkit-scrollbar-thumb:hover {
    background: rgba(74, 74, 74, 0.15);
    border-radius: 5px;
}

.result-page .dropdown-main.update .savedideas-drop-data ul {
    padding: 0px;
}


.business-eng .row.below-row,
.business-eng .row.above-row{
    float: none;
    margin: 0px;
}
@media (max-width:767px) {
    .business-eng .row.below-row {
        margin: 0px;
    }
    .alert-box .row.d-flex{
        margin: 0px;
    }
    .result-page .col-sm-9.mar_0{
        padding: 0px;
    }
}

/* .alert-box .alert {
    margin: 15px 0px 20px;
} */

/* StickyBanner Css */

.leader-right {
    position: fixed;
    top: 150px;
    right: 110px;
    z-index: 2;
    cursor: pointer;
    left: auto;
    width: auto !important;
    padding: 0px !important;
}

.leader-right .right-cad {
    background: #FFFFFF;
    border: 1px solid #00A63F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 300px;
    padding: 14px 17px 20px;
    box-shadow: #00000040 0px 3px 6px;
}

.leader-right .right-cad .head {
    display: flex;
    justify-content: space-between;
}

.leader-right .right-cad .head .link a {
    border-radius: 4px;
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #06f;
    text-decoration: none;
}

.leader-right .right-cad .content .text {
    margin: 10px 0px 0px;
}

.leader-right .right-cad .content .text h3 {
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 14px;
    color: #000000;
    margin: 0px !important;
}

.leader-right .right-cad .content .text p {
    font-family: "Inter","Open Sans",sans-serif;
    line-height: 20px;
    font-size: 12px;
    color: #646369;
    transition: all .1s ease;
    margin-top: 3px;
    margin-bottom: 0;
}

.leader-right .hide-sec {
    display: block;
    transition: all .15s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 600;
    background: #eaeaea;
    border-radius: 0px 5px 0px 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px 7px;
    color: #444;
}

.leader-right .hide-sec p {
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444;
    margin: 0px;
}

.leader-right .hide-sec p i {
    margin: 0px 0px 0px 6px;
    display: none;
}

.leader-mobile {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110px;
    z-index: 99;
    max-width: calc(100% - 24px);
    width: 100%;
}

.leader-mobile .right-cad {
    background: #FFFFFF;
    border: 1px solid #00A63F;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 16px 17px 20px;
    box-shadow: #00000040 0px 3px 6px;
    cursor: pointer;
}

.leader-mobile .right-cad .head {
    display: flex;
    justify-content: space-between;
}

.leader-mobile .right-cad .head .link a {
    border-radius: 4px;
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #06f;
    text-decoration: none;
}

.leader-mobile .right-cad .content .text {
    margin: 10px 0px 0px;
}

.leader-mobile .right-cad .content .text h3 {
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin: 0px;
}

.leader-mobile .right-cad .content .text p {
    font-family: "Inter","Open Sans",sans-serif;
    line-height: 20px;
    font-size: 12px;
    color: #646369;
    transition: all .1s ease;
    margin-top: 3px;
    margin-bottom: 0;
}

.leader-mobile .hide-sec {
    display: block;
    transition: all .15s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 600;
    background: #eaeaea;
    border-radius: 0px 5px 0px 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px 7px;
    border-bottom-left-radius: 5px;
    color: #444;
}

.leader-mobile .hide-sec p {
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444;
    margin: 0px;
}

.leader-mobile .hide-sec p i {
    margin: 0px 0px 0px 6px;
    display: none;
}

.leader-bottom {
    position: fixed;
    left: 61.5%;
    transform: translateX(0%);
    bottom: 90px;
    z-index: 99;
    max-width: calc(100% - 30px);
    margin-bottom: 15px;
    padding:0px !important;
}

@media (min-width: 1400px) {
    .leader-bottom {
        left: 60.5%;
    }
}

.leader-bottom .bottom-cad {
    padding: 20px 25px 20px 15px;
    border-radius: 5px;
    border: 2px solid #00a63f;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: #00000040 0px 3px 6px;
    cursor: pointer;
}

.leader-bottom .col-left .img-area {
    border-radius: 5px;
}

.leader-bottom .col-left .content-area h2 {
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 0px;
}

.leader-bottom .col-left .content-area p {
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    white-space: inherit;
    color: #646369;
    transition: all .1s ease;
    margin-top: 3px;
    margin-bottom: 0;
}

.leader-bottom .link-btn a {
    border-radius: 4px;
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #06f;
    text-decoration: none;
}

.leader-bottom .hide-sec {
    display: block;
    transition: all .15s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 600;
    background: #eaeaea;
    border-radius: 0px 5px 0px 5px;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 5px 7px;
    color: #444;
}

.leader-bottom .hide-sec p {
    font-family: "Inter","Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #444;
    margin: 0px;
}

.leader-bottom .hide-sec p i {
    margin: 0px 0px 0px 6px;
    display: none;
}

@media (max-width: 767px) {
    .leader-right {
        right: auto;
        width: 100%;
        padding: 0px 30px;
    }
    .leader-right .bottom-cad {
        width: 100%;
    }
    .leader-right .hide-sec {
        transform: rotate( 0deg);
        right: 30px;
        top: -20px;
    }
    .leader-bottom .link-btn.mob {
        display: block;
    }
    .leader-bottom .col-left .img-area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .leader-bottom .link-btn {
        display: none;
    }
    .leader-right {
        display: none;
    }
    .leader-bottom {
        display: none;
        left: 12px !important;
        max-width: calc(100% - 24px);
    }
}

@media (min-width: 768px) {
    .leader-bottom .col-left {
        flex: 0 0 70%;
        max-width: 70%;
        display: flex;
        align-items: center;
    }
    .leader-bottom .col-left .content-area {
        padding-left: 15px;
    }
    .leader-bottom {
        display: none;
    }
    .leader-bottom .bottom-cad {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .leader-bottom .link-btn {
        display: flex;
    }
    .leader-bottom .link-btn.mob {
        display: none;
    }
    .leader-mobile {
        display: none;
    }
}

.leader-bottom {
    width: 100%;
    left: 15px;
}

@media (min-width: 1025px) {
    .leader-bottom {
        bottom: 0;
        width: 71% !important;
        left: auto;
    }
}

@media (min-width: 1045px) {
    .leader-bottom {
        width: 72.5% !important;
    }
}

@media (min-width: 1200px) {
    .leader-bottom {
        width: 70.8% !important;
    }
}

@media (min-width: 1300px) {
    .leader-bottom {
        width: 900px !important;
        padding-left: 5px;
    }
}

@media screen and (max-width: 767px) {
    .Pagination_nav {
        padding: 50px 0px 100px;
    }
}

@media (max-width: 462px) {
    .mob-iframe iframe {
        height: 790px !important;
    }
}

#results .innerResult ul li.unavailable .text {
    height: auto !important;
}

#main-filter-modal .cstm_label ul.live-search-list.word-type {
    flex-wrap: wrap;
}

#main-filter-modal .cstm_label ul.live-search-list.word-type li {
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    .Pagination_nav ul li a {
        padding: 10px 12px;
        font-size: 12px !important;
        line-height: 14px !important;
    }
}

.desktopads-geo-banners .ad-result {
    background: #ddeaf8;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 20px 25px;
    margin: 15px 0px;
}

.desktopads-geo-banners .ad-result .text {
    margin: 22px 0px 16px;
}

.desktopads-geo-banners .ad-result img {
    width: 150px;
    height: auto;
}

.desktopads-geo-banners .ad-result .text h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0px;
}

.desktopads-geo-banners .ad-result .text h2 span {
    font-style: italic;
    font-weight: 600;
}

.desktopads-geo-banners .ad-result .text p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin: 10px 0px 0px;
    font-style: italic;
}

.desktopads-geo-banners .ad-result .col-right a {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 0px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    background: #000;
}

@media (min-width: 768px) {
    .desktopads-geo-banners .ad-result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px;
    }
    .desktopads-geo-banners .ad-result .text {
        margin: 0px;
        padding: 0px 15px;
    }
}

@media (max-width: 767px) {
    .desktopads-geo-banners .ad-result .col-right {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}

.desktopads-banners a.secound-gd-link{
    text-decoration: none;
}

.resultpage-sidebar-banner{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.resultpage-sidebar-banner img{
    max-width: 100%;
}
.resultpage-sidebar-banner h1{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 46px;
    color: #000000;
    margin: 0px;
}

.domainify-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0px 0px;
}

.domainify-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #111111;
    margin: 0px;
}
.domainify-text a{
    font-family: "Inter","Open Sans",sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration-line: underline;
    color: #0054FF;
    margin-top: 5px;
}
.domainify-text a span{
    margin-left: 5px;
    top: 1px;
    position: relative;
}


@media (max-width: 767px){
    .domainify-text a{
        display: none;
    }

}
@media (max-width:767px){
    .desktopads-banners.wix-banner img.tab-wix{
        display: none;
    }
    .desktopads-banners.wix-banner img.mobile-wix{
        display: block;
    }
}

.filter_block.eng ul.list-star li .inner .domain-title .tool-tip {
    width: 180px;
    font-size: 12px;
    background-color: #666;
    color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
    font-family: unset;
    top: -50px;
    line-height: 1.5;
    position: absolute;
    display: none;
}
.filter_block.eng ul.list-star li .inner .domain-title .tool-tip:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #666 transparent transparent;
    position: absolute;
    top: 100%;
    left: 15%;
    margin: 0 auto;
}
@media (min-width: 768px){
    .filter_block.eng ul.list-star li .inner .domain-title:hover .tool-tip {
        display: block;
    }
}
.filter_block.eng ul.list-star li .inner a.clickable-arrow .tool-tip-2 {
    position: absolute;
    width: 115px;
    top: -40px;
    right: 53px;
    font-size: 12px;
    line-height: 18px;
    background-color: #666;
    color: #fff;
    padding: 8px 10px;
    display: none;
    border-radius: 4px;
    font: 400 12px/1 "Inter","Open Sans",sans-serif;
    text-align: center;
    right: -50px;
}
.filter_block.eng ul.list-star li .inner a.clickable-arrow .tool-tip-2:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #666 transparent transparent;
    position: absolute;
    top: 100%;
    left: 44%;
    margin: 0 auto;
}
@media (min-width: 768px){
    .filter_block.eng ul.list-star li .inner a.clickable-arrow:hover .tool-tip-2 {
        display: block;
    }
}


.Pagination_nav ul li {
    border: 1px solid rgba(74, 74, 74, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0;
    float: none !important;
    margin: 0 5px !important;
}

.Pagination_nav {
    border: none;
    padding: 50px 0px 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.Pagination_nav ul {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pagination_nav ul li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 21px !important;
    color: #8D8D8D !important;
    width: auto;
    height: auto;
    text-decoration: none;
}


.savedideas-drop-data .empty-idea-msg {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    font: 400 16px/26px "Inter","Open Sans",sans-serif;
    color: #b1b1b1;
    padding: 10px 0;
}

.page-template-template-nameideas .drop-down-data {
    position: absolute;
    z-index: 999;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 6%);
    right: 0;
    left: 0;
    background: #FFFFFF;
    border: 1px solid rgba(74, 74, 74, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 16px;
    margin: 0;
    top: auto;
    width: 100%;
}

.filter_block.eng ul.list-star li .inner a.clickable-arrow span {
    width: auto;
    height: auto;
    border-radius: 0;
    transform: inherit;
    font-size: 20px;
    border: 0;
    color: #b1b1b1;
}
.result-page .domainify{
    padding:0px 10px !important;
    margin: 5px 0px 10px !important;
    width:100% !important;
}
/* .page-template-template-nameideas .result-page .domainify{
   padding: 0px 6px !important; 
} */
@media (max-width:767px){
    .page-template-template-nameideas .result-page .domainify{
        padding: 0px !important; 
     }
}
@media (max-width:1024px){
    .page-template-template-nameideas .row.align-set .col-xs-4 {
        width: 33.33333333%;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin: 0px !important;
}

.navbar {
    display: flex !important;
}
.navbar .gen-search{
    width: 100%;
    padding: 20px 0px 20px;
}
@media (min-width:992px){
    .navbar .gen-search{
        padding: 0px 20px;
    }
}
.navbar .gen-search .name-search{
	margin: 0px;
	max-width: 100%;
}

.navbar .gen-search .name-search form:before {
	content: "U";
	font-family: ElegantIcons ;
	position: absolute;
	color: #b1b1b1;
	top: 10px;
	left: 12px;
	font-size: 22px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	z-index: 1;
	font-weight: bold;
}
.navbar .gen-search .name-search a.generatorbtn{
    top: 7px;
}
.navbar .navbar-nav .dropdown-menu{
    left: auto;
    right: 0px;
}

@media (max-width: 767px){
	.mobile-products{
		margin: 0px !important;
	}
}

.page-template-template-nameideas .navbar-nav{
    display: none;
}
.navbar .gen-search input.inputMain{
    width: 100%;
    height: 56px;
    padding: 5px 170px 5px 45px;
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    border-radius: 5px;
    border: none;
}

@media (min-width: 992px){
    .navbar .gen-search  .gen-search{
        padding: 0px 6px 0px 20px;
    }
}

.business-eng .filter_block.eng ul.list-star li .inner .domain-title .tool-tip.big-text {
    width: 290px;
    top: -53px;
}

/* New Css Start */

.resultpage-top-banner{
    display: flex;
    align-items: center;
    justify-content: center;

}
.resultpage-top-banner img{
    max-width: 100%;
}
.resultpage-top-banner h1{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 46px;
    color: #000000;
    margin: 0px;
}


.rtl .result-page .row.d-flex {
    flex-direction: row-reverse;
}
.rtl .result-page .filter_block.eng ul.list-star li .inner{
    flex-direction: row-reverse;
}
.rtl .filter_block.eng ul.list-star li .inner span.domain-title a span{
    margin-right: 0px;
    margin-left: 5px;
}
.rtl .dropdown-main.update .cstm-dropdown2 button .text p{
    margin-left: 0px;
    margin-right: 10px;
}
.rtl .industry-text span,
.rtl .select-text span{
    margin-right: 0px !important;
    margin-left: 10px !important;
}
.rtl .industry-text span.idea-count{
    margin-right: 10px !important;
}
.rtl .domain-checker .domains-head span{
    margin-right: 0px;
    margin-left: 10px;
}
.rtl .domainify .domain-buy .inner a.outer-link ,
.rtl .domainify .domain-buy .inner .content,
.rtl .domainify .domain-buy .inner a.outer-link .content .link p{
    flex-direction: row-reverse;
}
.rtl .domainify .domain-buy .inner .content .buy-text,
.rtl .domainify .domain-buy .inner .content .buy-text h3 {
    text-align: right !important;
}
.rtl #results .innerResult ul li .text .domain-name{
    text-align: right;
}
.rtl #results .innerResult ul li .text .register-btn{
    text-align: left;
}
.rtl #results .innerResult ul li .text .register-btn i{
    margin-left: 0px;
    margin-right: 5px;
}
.rtl .business-eng #results .innerResult .mob-alternative .domain-advertise a span{
    margin-left: 0px;
    margin-right: 10px;
}
.rtl .domainify-text a span{
    margin-left: 0px;
    margin-right: 5px; 
}